<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
<meta name="keywords" content="实创装饰" />
<meta name="description" content="北京实创装饰官网，主营包含装修设计、主材、施工、家居用品等在内的整体家装。拥有数量众多的高端、专业设计师。装修用材全球一流，高品质环保用料。高品质售后服务。" />
<link href="__PUBLIC__/web/css/global.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/web/css/top-footer.css" type="text/css" rel="stylesheet">
<script src="__PUBLIC__/web/js/jquery-1.9.1.min.js" type="text/javascript"></script>

<!--页面独立css和js引入区-->
<link href="__PUBLIC__/web/css/service-support.css" type="text/css" rel="stylesheet"><!--页脚服务支持导航等页面独立样式-->
<script src="__PUBLIC__/web/js/sc-ui-control.js" type="text/javascript"></script>
</head>
		
		<script type="text/javascript">
			//var beijingurl = "http://localhost/sc/";
        	</script>
		<script type="text/javascript" src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js" ></script>		
		<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
		

<body>