@charset "utf-8";
/*** CSS 实创特色-独家优势 Document ***/
	.txt-l { text-align:left; } .txt-r { text-align:right; }
	.djys-contain { min-width:1180px; }
	.djys-ban { background:url(../images/djys_02.jpg) center top no-repeat; height:420px; }
	
		.diys-con { width:1180px; margin:0 auto; }
			.djys-01 { background:url(../images/djys_03.jpg) center top no-repeat; height:750px; }
			.d-c-1 { padding-top:70px; color:#666666; font-size:30px; }
			.con-01 { padding-top:330px; }
			.con-01 span { font-size:18px; color:#fff; padding:0 26px 0; }
			.con-01-p { font-size:30px; color:#333333; padding-top:78px; }
			.con-01-p span { display:block; font-size:42px; color:#666666; font-weight:bold; }
			
			.djys-02 { background:url(../images/djys_04.jpg) center top no-repeat; height:500px; }
			.d-c-2 { padding-top:70px; color:#fff; font-size:42px; }
			.con-02 { font-weight:bold; }
			.con-02-spa { padding-top:183px; _padding-top:210px; }
			.con-02-spa span { font-size:18px; font-weight:bold; color:#fff; padding:0 68px; }
			
			.djys-03 { background:url(../images/djys_05.jpg) center top no-repeat ; height:500px; }
			.d-c-3 { font-size:42px; color:#333333; padding:50px 0 0 50px; }
			.con-03 { line-height:34px; }
			.con-03 p { font-size:16px; color:#666; }
			.con-03 p.cs { font-size:20px; color:#fa4c06; }
			
			.djys-04 { background:url(../images/djys_06.jpg) center top no-repeat; height:500px; }
			.d-c-4 { font-size:42px; color:#fff; padding:50px 50px 0 0; }
			.con-04 { line-height:34px; }
			.con-04 p { font-size:16px; }
			
			.djys-05 { background:url(../images/djys_07.jpg) center top no-repeat; height:500px; }
			
			.djys-06 { background:url(../images/djys_08.jpg) center center no-repeat; height:500px; }
			.djys-06 .cs, .djys-08 .cs { font-size:20px; color:#ffff00; }
			
			.djys-07 { background:url(../images/djys_09.jpg) center top no-repeat; height:500px; }
			
			.djys-08 { background:url(../images/djys_10.jpg) center top no-repeat; height:545px; }
			
			.djys-kf { width:1180px; margin:0 auto; background:url(../images/bz_53.jpg) center top no-repeat; height:275px; }
			.d-c-kf { padding:50px 0 0 674px; font-size:30px; color:#333; }
			.con-kf { padding:5px 0 0 676px; }
			.con-kf p { font-size:14px; color:#393939;}
			.con-kf p.line-time { float:right; color:#fff; padding:34px 90px 0 0; }
		
			