@charset "utf-8";
/* CSS yuyang louis */



/* 699套餐 */
.tc{ background:#fff;overflow:hidden;}


.focus-tc { height: 457px; background:url(../images/newindex/mb_02.jpg) no-repeat center top;}
.tc .box1 { width: 1158px; margin: 30px auto; border: #d5d5d5 1px solid; overflow: hidden; background: #fff;}
.tc .box1 img { display: block; width: 100%;}
.tc-hmf-box ul { width: 1032px; overflow: hidden; margin: 0 auto; padding: 42px 0;}
.tc-hmf-box li { float: left; width: 160px; padding: 0 6px;}
.tc-hmf-box li img { height: 350px;}

.tc-9 { position: relative; width: 1160px;  margin:10px auto;overflow: hidden; background: #fff;}
.tc-9 li { float: left; margin: 0 3px 3px 0;}
.tc-18 { position: relative; width: 1160px; margin: 30px auto; overflow: hidden; background: #fff;}
.tc-18 li { float: left; margin: 0 3px 3px 0;}
.tc-18 .no-r,.tc-9 .no-r { margin-right: 0;}
.tc-18 .no-b,.tc-9 .no-b { margin-bottom: 0;}

.tc-18 .i9, .tc-18 .i11 { position: absolute; top: 342px;}
.tc-18 .i9 { left: 0;}
.tc-18 .i11 { right: 0; margin-right: 0;}
.tc-hmf-box li img:hover, .tc-18 li img:hover, .tc-9 li img:hover {
	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.tc-banner { background: url(tc_banner_bg.png) repeat-x;}
.tc-banner img { margin: 0 auto;}
.box1 li{ font-size:14px;}
.tc-jg { position: relative; height:740px;}
.tc-jg dt,.tc-jg dd {
	position: absolute;
	z-index: 2;
	cursor: pointer;
	height: 131px;
}
.tc-jg dt { overflow: hidden; text-indent: -999em;}
.tc-jg dt, .tc-jg dd { background-repeat: no-repeat; background-position: left top;}
.tc-jg dd { width: 230px; height: 410px; color: #808080; background:#ffffff}
.tc-jg ul { font-size: 14px; margin: 0 6px; line-height: 22px;}
.tc-jg dd.hover { color: #fa4c06;}
.tc-jg dd h2 { color: #fff; font-size: 16px; height: 40px; line-height: 40px; }
.tc-jg dd h2 span { float: left; background: #00ddff;width:230px; padding: 0 8px;_width:214px;}
.tc-jg dd.hover h2 { border-color: #fff;}
.tc-jg dd.hover h2 span { background-color: #fa4c06; color:#ffffff}
.tc-hx { position: absolute; top: 245px; left: 0px; z-index: 1; width: 443px; height:382px; background:url(../images/newindex/huxingtu.png) no-repeat;}
.tc-hx1 {
	position: absolute;
	top: 54px;
	right: -2px;
	z-index: 1;
	width: 706px;
	height: 590px;
	background: url(tc_hx1.png) no-repeat;
}

.dl1 dt {
	top: 259px;
	left: 48px;
	width: 377px;
	height: 211px;
}
.dl1 dt.hover { background-image:url(../images/newindex/tc_dt1.png);}
.dl1 dd { top: 40px; left: 460px;}
.dd_ul1.hover{}
.dl1 dd.hover {background:url(../images/newindex/tc_dd1.jpg) no-repeat center 40px; }
.dl1 dd.hover span { color: #0c1e5b;}

.dl2 dt {
	top: 258px;
	left: 319px;
	width: 105px;
	height: 94px;
}
.dl2 dt.hover { background-image:url(../images/newindex/tc_dt2.png);}
.dl2 dd {
	top: 40px;
	left: 700px;
}
.dl2 dd.hover { background: url(../images/newindex/tc_dd2.jpg) no-repeat center 40px;}
.dl2 dd.hover span { color: #638814;}

.dl3 dt {
	top: 516px;
	left: 208px;
	width: 88px;
	height: 95px;
}
.dl3 dt.hover{ background-image: url(../images/newindex/tc_dt3.png);}
.dl3 dd {
	top: 40px;
	left: 940px;
}
.dl3 dd.hover { background: url(../images/newindex/tc_dd3.jpg) no-repeat center 40px;}
.dl3 dd.hover span { color: #a36017;}

.dl4 dt {
	top: 470px;
	left: 9px;
	width: 198px;
	height: 193px;
}
.dl4 dt.hover{ background-image: url(../images/newindex/tc_dt4.png);}
.dl4 dd {
	top: 460px;
	left: 460px;
	height:250px;
}
.dl4 dd.hover { color: #FA4C06; background: url(../images/newindex/tc_dd4.jpg) no-repeat center 40px;}
.dl4 dd.hover span { color: #a36017;}
/*.dl4 dd.hover span { color: #feee3f;}
.dl4 dd.hover h2 { border-color: #feee3f;}
.dl4 dd.hover h2 span { background-color: #feee3f;}*/

.dl5 dt {
	top: 470px;
	left: 295px;
	width: 129px;
	height:135px;
	
}
.dl5 dt.hover{ background-image: url(../images/newindex/tc_dt5.png);}
.dl5 dd {
	top: 460px;
	left: 700px;
	height: 250px;
}
.dl5 dd.hover { background: url(../images/newindex/tc_dd5.jpg) no-repeat center 40px;}
.dl5 dd.hover span { color: #602806;}

.dl6 dt { top: 329px; left: 245px; width: 139px; height: 67px;}
.dl6 dt.hover{ background-image: url(tc_dt6.png);}
.dl6 dd { top: 249px; left: 877px;}
.dl6 dd.hover { background-image: url(tc_dd6.png);}
.dl6 dd.hover span { color: #3f2401;}

.dl7 dt { top: 198px; left: 144px; width: 91px; height: 83px;}
.dl7 dt.hover{ background-image: url(tc_dt7.png);}
.dl7 dd { top: 432px; left: 455px;}
.dl7 dd.hover { background-image: url(tc_dd7.png);}
.dl7 dd.hover span { color: #4b394e;}

.dl8 dt { top: 279px; left: 136px; width: 97px; height: 89px;}
.dl8 dt.hover{ background-image: url(tc_dt8.png);}
.dl8 dd { top: 432px; left: 666px;}
.dl8 dd.hover { background-image: url(tc_dd8.png);}
.dl8 dd.hover span { color: #7d4f00;}

.dl9 dt { top: 365px; left: 89px; width: 146px; height: 188px;}
.dl9 dt.hover{ background-image: url(tc_dt9.png);}
.dl9 dd { top: 432px; left: 877px;}
.dl9 dd.hover { background-image: url(tc_dd9.png);}
.dl9 dd.hover span { color: #b33e19;}
.sc_tc3_boxx{ height:1000px;}