
.voteCon{
	padding:20px;
}
.voteLine{
	padding-bottom: 20px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}
.voteLine span{
	float: left;
	display: block;
	width: 80px;
	height: 30px;
	line-height: 30px;
}
.voteR{
	float: left;
}
.voteR select{
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
	text-indent: 5px;
}
.voteR input{
	width: 400px;
	height: 30px;
	line-height: 30px;
	border:1px solid #dbdbdb;
	margin-left: 5px;
	text-indent: 5px;
	color: #696969;
	font-size: 14px;
	margin-right: 10px;
	font-family: Microsoft YaHei;
}
.voteR1 input{
	width: 100px;
	height: 30px;
	line-height: 30px;
	border:1px solid #dbdbdb;
	margin-left: 5px;
	text-indent: 5px;
	color: #696969;
	font-size: 14px;
	margin-right: 10px;
	font-family: Microsoft YaHei;
}
.picInfo{
	margin-top:20px;
}
.picInfoLeft{
	float: left;
	display: block;
	width: 80px;
	height: 30px;
	line-height: 30px;
}
.picInfoRight{
	width: 756px;
	height: auto;
	float: left;
}
.picInfoBar{
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 20px;
}
.picInfoImg{
	width: 280px;
	height: 210px;
	float: left;
	border:1px solid #dbdbdb;
}
.picInfoImg img{
	position: absolute;
}
.picInfoSet{
	position: absolute;
	height: 30px;
	line-height: 30px;
	top: 180px;
	z-index: 222;
	background: rgba(0,0,0,0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
	text-align: center;
	color: #fff;
	width:278px;
}
.picInfoSum{
	width: 470px;
	height: auto;
	float: right;
}
.picInfoSum textarea,.picInfoM{
	width: 465px;
	height: 100px;
	float: right;
	padding:0px 10px;
	line-height: 25px;
	color: #999999;
	font-size: 12px;
	font-family: 宋体;
	border:1px solid #dbdbdb;
}
.picInfoDel{
	width: 85px;
	height: 30px;
	line-height: 30px;
	cursor:pointer;
	float: right;
	text-align: right;
	background: url(../images/delIcon.png) no-repeat left center;
}
.picInfoSc{
	line-height: 210px;
	text-align: center;
	color: #fa4c06;
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.picInfoBc{
	border:none;
	padding: 0px;
}
.picInfoBtn{
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	background: #ea4d16;
	color: #fff;
	border:1px solid #ea4d16;
	float: left;
	margin-right: 20px;
}
.picInfoBtn:hover{
	color: #fff;
}
.picInfoQx{
	color: #fa4c06;
	background: #f6efe9;
	border:1px solid #e6c7a5;
}
.picInfoQx:hover{
	color: #fa4c06;
	
}