<include file="Common/header" />
<link href="__PUBLIC__/web/css/self-service.css" type="text/css" rel="stylesheet">
<script src="__PUBLIC__/web/js/sc-ui-control.js" type="text/javascript"></script>
<script src="__PUBLIC__/web/js/Component.js" type="text/javascript"></script>
       <!--designer-banner-->
       <div class="h3top clearfix">
            <div class="hwraper clearfix">
                <div class="h-left">
                    <h3>企业客户采购平台</h3>
                    <p class="h4">政企采购综合解决方案提供商</p>
                    <p class="h5">合作企业员工在选择实创装修或购买产品时，可享受以下8大尊贵特权</p>
                </div>
                <div class="h-right">
                    <div class="bg"></div>
                  <form class="rightform1">
                  <input type="hidden" name="type" value="3">
                    <div class="shadowbg">
                        <h3>企业客户</h3>
                        <div><input type="text"  placeholder="请输入您的姓名" name="username"/></div>
                        <div><input type="text" placeholder="请输入您的电话" name="telephone"/></div>
                        <div>
                            <textarea name="requirement" placeholder="请输入你的采购需求和合作意向"></textarea>
                        </div>
                        <div>
                            <!-- <a href="#">确认提交</a> -->
                          <input style="width: 240px;height: 36px;text-align: center;color: #fff;font-size: 14px;background: #fa4c06;display: block;margin-top: 20px;border:0px" type="button" id="sm1" onclick="$('.rightform1').submit();" value="确定提交">
                        </div>
                    </div>
                    </form>
                </div>
            </div>
       </div>
       <div class="inside-wrap clearfix">
            <div class="shoplist">
                <h3>企业客户尊享特权</h3>
                <ul>
                   <li>
                      <div class="shopListTit">
                        <h2>专享折上折</h2>
                      </div>
                        <p>合作企业员工在选择实创集团装修或者购
买产品时，除享受当期公司给予的其他优
惠服务之外，再享受相应的折扣优惠。</p>
                    </li>
                    <li>
                      <div class="shopListTit">
                        <h2>特约设计师</h2>
                      </div>
                        <p>享受首席、VIP工作室设计师特约服务。</p>
                    </li>
                    <li>
                      <div class="shopListTit">
                        <h2>个性定制咨询</h2>
                      </div>
                        <p>享受特别定制家装咨询上门的服务，由专
业人员上门集中讲解。或者集中小区专车
接送等服务。</p>
                    </li>
                    <li>
                        <div class="shopListTit">
                          <h2>专属上门服务</h2>
                        </div>
                        <p>享受提前量房，上门签约，收款的服务。</p>
                    </li>
                    <li>
                        <div class="shopListTit">
                          <h2>VIP施工服务</h2>
                        </div>
                        <p>享受优质VIP施工服务：选择优秀工长，
选派优秀工队，VIP工地现场布置，定期
检查施工质量及工序安排情况。</p>
                    </li>
                    <li>
                      <div class="shopListTit">
                        <h2>绿色客服保障服务</h2>
                      </div>
                        <p>享受绿色客服保障服务：实时查访工地进
展，实时解决装修问题。</p>
                    </li>
                    <li>
                      <div class="shopListTit">
                        <h2>24小时管家式服务</h2>
                      </div>
                        <p>为VIP会员提供客户经理24小时管家式服
务，负责解决装修过程中所有问题，以及
提供上门服务。</p>
                    </li>
                    <li>
                      <div class="shopListTit">
                        <h2>专属VIP服务</h2>
                      </div>
                        <p>VIP服务专席24小时优先接入等专享服务。</p>
                    </li>
                    
                </ul>
           </div>
       </div>
       <div class="company-apply">
            <div class="w1200">
                <div class="com-apply">
                    <h3>企业客户申请须知</h3>
                    <p>1、必须是以上合作单位员工，方可申请以下专属优惠。</p>
                    <p>2、能提供身份证复印件及有效的所属单位证明资料。</p>
                    <p>3、我们在收到您的申请后，及时与您取得联系，核对沟通采购事宜。</p>
                    <p>4、企业客户咨询电话：400-706-2880（24小时） 李经理</p>
                    <p class="indent">（为了保证优惠批复，请一定提前电话预约。）</p>
                    <a href="#">申请特权</a>
                </div>
                <div class="com-apply">
                    <h3>企业合作申请须知</h3>
                    <p>1、必须是企事业团体单位。</p>
                    <p>2、能提供有效的营业执照等资质证明。</p>
                    <p class="indent">我们可以为您的企业量身定制采购解决方案，</p>
                    <p class="indent">涉及行政采购、员工福利、市场活动、渠道奖励等。</p>
                    <a href="#">申请服务</a>
                </div>
             </div>   
       </div>
       <div class="co-company clearfix">
            <h3>合作企业（排名不分先后）</h3>
            <ul class="com-list">
                <li><a href="#"><img src="__PUBLIC__/web/temp/bank.png"/></a></li>
                <li><a href="#"><img src="__PUBLIC__/web/temp/qy1.png"/></a></li>
                <li><a href="#"><img src="__PUBLIC__/web/temp/qy2.png"/></a></li>
                <li><a href="#"><img src="__PUBLIC__/web/temp/qy3.png"/></a></li>
                <li><a href="#"><img src="__PUBLIC__/web/temp/qy4.png"/></a></li>
                <li><a href="#"><img src="__PUBLIC__/web/temp/qy5.png"/></a></li>
                <li><a href="#"><img src="__PUBLIC__/web/temp/qy6.png"/></a></li>
                <li><a href="#"><img src="__PUBLIC__/web/temp/qy7.png"/></a></li>
                <li><a href="#"><img src="__PUBLIC__/web/temp/qy8.png"/></a></li>
                <li><a href="#"><img src="__PUBLIC__/web/temp/qy9.png"/></a></li>
                <li><a href="#"><img src="__PUBLIC__/web/temp/qy10.png"/></a></li>
                <li><a href="#"><img src="__PUBLIC__/web/temp/qy11.png"/></a></li>
            </ul>
       </div>     
       <!--designer-banner end-->
   </div>
   <!--sc-logo end-->
</div>
<!--*********************header 引入区 end*********************-->

<!--*********************contanier 内容区 *********************-->

</div>
<!--*********************contanier 内容区 end *********************-->

<script src="__JS__/jquery.validate.js" type="text/javascript"></script>
<script src="__JS__/jquery-ui.min.js"></script>
<link rel="stylesheet" media="screen" href="__CSS__/jquery-ui.min.css">
<script>
$.validator.setDefaults({
  submitHandler: function() {
  },
  showErrors: function(map, list) {
    var focussed = document.activeElement;
    if (focussed && $(focussed).is("input, textarea")) {
      $(this.currentForm).tooltip("close", {
        currentTarget: focussed
      }, true)
    }
    this.currentElements.removeAttr("title").removeClass("ui-state-highlight");
    $.each(list, function(index, error) {
      $(error.element).attr("title", error.message).addClass("ui-state-highlight");
    });
    if (focussed && $(focussed).is("input, textarea")) {
      $(this.currentForm).tooltip("open", {
        target: focussed
      });
    }
  }
});
// 手机号码验证
jQuery.validator.addMethod("isMobile", function(value, element) {
  var length = value.length;
  var mobile = /^1[3|4|5|8|7][0-9]\d{8}$/;
  return this.optional(element) || (length == 11 && mobile.test(value));
}, "请正确填写您的手机号码");

(function() {
  $(".rightform1").tooltip({
    show: false,
    hide: false
  });
  $(".rightform1").validate({
    submitHandler:function(form){
        var formParam = $(form).serialize();
        $('#sm1').val('提交中');
        $.ajax({
            type: 'post',
            url: '{:U("Share/apply")}',
            data: formParam,
            cache: false,
            dataType: 'json',
            success: function(data) {
                if(data.status == 's') {
                    $('#sm1').val('确定提交');
                    alert('请勿重复提交');
                    exit;
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('提交失败');
            },
            complete: function() {
                $('#sm1').val('提交成功');
            }
        });
    }, 
    rules: {
      username: {
        required: true,
        rangelength: [2,6]
      },
      telephone: {
          required:true,
          isMobile:true
        },
      requirement: {
        rangelength: [0, 100]
      }
    },
    messages: {
      username: {
        required: '请输入您的姓名',
        rangelength: '输入内容为{0}-{1}个字符'
      },
      telephone: {
        required: "请输入您的联系电话",
        isMobile: "请输入一个有效的联系电话"
        },
      requirement: {
        rangelength: '输入内容为{0}-{1}个字符',
      }
    }
  });

})();


</script>


<!--*********************footer 引入区*********************-->
<include file="common/foot" />
<!--*********************footer 引入区 end*********************-->


<script type="text/javascript">
//设计师列表【tab切换】
 $('.demo-TabName li').on('click',function(){
    tabDemo($(this));
 });
</script>


</body>
</html>
