<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script type="text/javascript" src="__PUBLIC__/web/js/zDialog.js"></script>
    <!-- <script type="text/javascript" src="__PUBLIC__/web/js/zDrag.js"></script> -->
    <script src="__PUBLIC__/web/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <link href="__PUBLIC__/web/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>

    
    <div class="scQrDia">
    	<h2>实创装饰集团微信二维码</h2>
    	<img src="__PUBLIC__/web/images/qr.jpg" />
    	<p>关注实创装饰集团，获取最新风格案例、装修知识和促销信息</p>
    	<p>标准化整天家居服务领导者，带给您超高性价比整体家装！</p>
    </div>

</body>
</html>
