<div class="gdh">

<div class="bmrh" >
<span style="font-weight:bold;font-size:22px;display:block;float:left;width:60px;color:{$vo['color']}">已有</span>
<p class="bm_numh" style="margin-top:-3px;margin-right:5px;font-size: 24px;float:left;display:block;color:{$vo['color']}"></p>
<span style="font-weight:bold;font-size:22px;display:block;float:left;width:90px;color:{$vo['color']}">户报名</span>
</div>
<div class="gdk">
<iframe src="__APP__/Huod/gd/id/{$id}/h/97" width="185" height="97" frameborder="0" scrolling="no" style="color:#FFFFFF;"></iframe>

</div>
</div>

<!-- 
<div class="bmrz">
<span style="font-weight:bold;font-size:18px;display:block;float:left;width:40px;">已有</span>
<p class="bm_numz" style="margin-top:-3px;margin-right:5px;font-size: 24px;float:left;display:block;"></p>
<span style="font-weight:bold;font-size:18px;display:block;float:left;width:70px;">户报名</span></div>
<div class="gdz">
<iframe src="__APP__/{$city}/Huod/gd/id/{$id}/h/97" width="170" height="97" frameborder="0" scrolling="no" style="color:#FFFFFF;"></iframe>
</div>
 -->