<link rel="stylesheet" type="text/css" href="__PUBLIC__/web/css/lunbotu.css" />
<script type="text/javascript" src="__PUBLIC__/web/js/jquery-1.9.1.min.js"></script>
<p class="title">{$title}</p>
<div class="main" >
	<div class="pro-switch">
		<div class="slider">
			<div class="flexslider">
				<ul class="slides">
                                    <volist name="imgarr" id="vo">
					<li>
						<div class="img"><img src="http://www.sc.cc{$vo.IMAGE}"  alt="{$title}" /></div>
					</li>
                                    </volist>
				</ul>
			</div>
		</div>
	</div>
</div>

<script defer src="__PUBLIC__/web/js/slider.js"></script> 
<script type="text/javascript">
    $(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
       var DWidth=document.documentElement.clientWidth; 
       var DHeight=document.documentElement.clientHeight;
       $(".img img").css("width",DWidth);
       var ImgHeight= $(".img img").width()*21/28;

       var ImgMarginTop=(DHeight-60-ImgHeight-16+35)/2;
       //alert(ImgMarginTop);
       $(".main").css("margin-top",ImgMarginTop);
    });
  </script>
<div style="text-align:center;clear:both"><br>


</div>