
	<style>
	/*css document*/
@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input { margin: 0; padding: 0; border: 0; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body{ font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; font-size:12px; color:#666666; line-height:1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, textarea { outline: 0; resize: none; }
a { text-decoration:none; color:#666666; }
a:hover { text-decoration:none; color:#ea5404; }
abbr[title] { border-bottom:1px dotted; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a img { border: none; }
.clear { clear:both; }
input, select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; }
.fl { float:left; } .fr { float:right; }
.border-radius { border-radius:3px; }
/*.hide { display: none !important; }*/
/************************************************************ M站三种报名框 style ************************************************************/
	* { box-sizing:border-box; } .none { display:none; }
	.mContain { width:100%; min-width:320px; max-width:640px; margin:0 auto; }
	
	
	.hBaoming, .sBaoming { padding:20px; }
	/* hBaoming */
	.hInput1 { width:418px; height:80px; border:1px solid #cccccc; line-height:80px; background-color:#ffffff; padding:0 10px; font-size:24px; margin-bottom:10px; }
	.hInput2 { width:418px; height:80px; border:1px solid #cccccc; line-height:80px; background-color:#ffffff; padding:0 10px; font-size:24px; }
	.hButton, .hButton img { width:162px; height:170px; }
	
	/* sBaoming */
	.sInput3 { width:600px; height:80px; border:1px solid #cccccc; line-height:80px; background-color:#ffffff; padding:0 10px; font-size:24px; margin-bottom:20px; }
	.sButton, .sButton img { display:block; width:600px; height:80px; }
	
	
	
	


	</style>

		<div class="mContain">
			<div class="hBaoming">
				<form action="__APP__/Huod/bm/" method="post" name="form{$i}" id="form{$i}">
					<input type="hidden" name="ClassRoomID" value="{$id}">
					<input type="hidden" name="ClassRoomName" value="{$list['Title']}">
					<input type="hidden" name="qudao" value="{$utm_source}">
					<input type="hidden" value="add" name="action">
					<input type="hidden" value="{$Promoterid}" name="Promoterid">
					<input type="hidden" value="{$PromoterName}" name="PromoterName">
					<input type="hidden" value="{$utm_term}" name="utm_term">
					<input name="CityID" type="hidden" id="CityID" value="{$list['CityID']}">
					<input name="CityName" type="hidden" id="CityName" value="{$list['CityID']}">
					<input name="renshu" type="hidden" id="renshu" value="1">

					<a href="javascript:tijiaos({$i});" class="hButton fr">
					<empty name="vo['image']">
						<img src="http://www.sc.cc/Public/images/Home/h_button.png" /></a>
					<else />
						<img src="http://www.sc.cc/{$vo['image']}" /></a>
						</empty>
					<input name="UserName" type="text" placeholder="请输入您的姓名" class="hInput1 fl" >
					<input name="TelePhone" type="text" placeholder="请输入您的电话" maxlength="11" class="hInput2 fl" >
				</form>
				<div class="clear"></div>
			</div>
		</div>
