<div class="gdh">

<div class="bmrh" >
<span style="font-weight:normal;font-size:14px;display:block;float:left;color:{$vo['color']}">已有</span>
<p class="bm_numh" style="margin-top:-3px;padding-left:10px;padding-right:10px;font-size: 24px;float:left;display:block;color:{$vo['color']}"></p>
<span style="font-weight:normal;font-size:14px;display:block;float:left;color:{$vo['color']}">户报名</span>
</div>
<div class="gdk">
<iframe src="{:C('scurl')['HD_INDEX']}gd/id/{$id}/h/97" width="155" height="68" frameborder="0" scrolling="no" style="color:#FFFFFF;"></iframe>

</div>
</div>

<!-- 
<div class="bmrz">
<span style="font-weight:bold;font-size:18px;display:block;float:left;width:40px;">已有</span>
<p class="bm_numz" style="margin-top:-3px;margin-right:5px;font-size: 24px;float:left;display:block;"></p>
<span style="font-weight:bold;font-size:18px;display:block;float:left;width:70px;">户报名</span></div>
<div class="gdz">
<iframe src="{:C('scurl')['HD_INDEX']}gd/id/{$id}/h/97" width="170" height="97" frameborder="0" scrolling="no" style="color:#FFFFFF;"></iframe>
</div>
 -->