
@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	font-family:Microsoft YaHei;
	font-size: 14px;
	color: #666;
}
a{
	text-decoration: none;
	font-weight: normal;
}
ul li { list-style:none; }
input { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }
/*h1,h2,h3{
	font-weight: normal;
}*/
input, select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }

/*Fix Float BUG 万能闭合*/
.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
 line-height: 0px;
}
.fl {
float: left;
}
.fr {
float: right;
}
.clear{
	clear: both;
}
/*公用头部分*/
body{
	background: #eeeeee;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	line-height: 1;
}
.wapM{
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	padding-bottom: 50px; 
}
header {
	background-color: #ffffff;
	padding: 15px 3.125% !important; position:relative;
}
header h1 { 
	font-size:1px;
	height: 13px;
	line-height: 12px;
}
.city-name { 
	/*width:55px; */
	height:18px; 
	background:url(../images/dowbArrow.png) no-repeat 95% 6px; 
	background-size:11px; 
	padding-right:20px; 
	padding-left: 5px;
	line-height:18px; 
	text-align:center; margin-left:20px;
	color: #fa4c06;
}
.city-name a { 
	color:#ea5404;
	font-size: 14px;
}	
/* mBanner */
.mBanner{
	width: 100%;
}
.mBanner img { 
	width:100%; 
	height:auto; 
}
.relative {
	position: relative;
	left: 0;
	top: 0;
}
/*public scroll*/
.scroll{margin:0px auto;max-width:640px;}
.scroll_box{overflow:hidden;visibility:hidden;position:relative;}
.scroll_wrap{overflow:hidden; position:relative;}
.scroll_wrap li{position:relative;display:block;width:100%;float:left;}
.scroll_wrap li a{display:block;margin:0 auto;position:relative;}
.scroll_position{position:absolute;left:47%;z-index:400px;bottom:5px;}
.scroll_position li{display:inline-block;width:10px;height:10px;border-radius:10px;background:#fff;margin-left:5px}
.scroll_position li a{font-size:0;}
.scroll_position li.on{background-color:#ffd800;}
.scroll_position_bg{position:absolute;bottom:12px;left:42%;padding:0 15px;z-index:380px;height:26px;border-radius:26px;}
/*主体部分*/
.mMain{
	width: 100%;
	padding-top: 5px;
}
.mainNav{
	background-color: #ffffff;
	padding: 13px 3.125%;
}
.mainNav ul{
	padding: 0px;
}
.mainNav ul li{
	width: 25%;
	height: auto;
	text-align: center;
	float: left;
	list-style: none;
}
.mainNav ul li a{
	display: block;
}
.mainNav ul li a img{
	width: 50px;
	height: 50px;
	margin: 0 auto 2.5px;
}
.mainNav ul li a h3{
	height: 20px;
	line-height: 20px;
	font-weight: normal;
}
.mainNav ul li a:hover h3{
	color: #fa4c06;
}
/*快速报价部分*/
.ksbj{
	padding: 13px 3.125%;
	padding-bottom: 8px;
	position: relative;
}
.ksbj select{
	width: 48%;
	height: 40px;
	/*margin-right: 1.705%;*/
	color: #666;
	margin-bottom: 10px;
	background:#fff url(../images/downArr.png) no-repeat 91% center;
	background-size: 7%;
	border:1px solid  #ccc;
	border-radius: 5px;
	text-indent: 3px;
}
.ksbj input{
	width: 47.35%;
	text-indent: 3px;
	height: 38px;
	line-height: 38px;
	margin:0px;
	padding: 0px;
	color: #666;
	margin-bottom: 5px;
	border:1px solid #ccc;	
	background:#fff url(../images/pmBg.png) no-repeat 92% center;
	background-size: 15px 16px;
	border-radius: 3px;
}
.ksbj input.mInputName { background:#ffffff; margin-right:2.55%; margin-bottom:5px; }
.ksbj input.mInputPhone { background:#ffffff; margin-bottom:5px; }
.ksbj p.mInputTip { font-size:12px; color:#666; line-height:16px; padding:0 5px 10px;}
.ksbj p.mInputTip span { font-size:12px; color:#ea5404; line-height:16px; }
input#ksbjBtn{
	width: 99.5%;
	height: 40px;
	line-height: 40px;
	background: #fa4c07;
	border-radius: 5px;
	border:none!important;
	color: #fff;/*
	margin-top:5px;*/
	cursor: pointer;
}
/*理想装部分*/
.lxzBar{
	width: 100%;
	height: 88px;
	background:url(../images/88Bg.png) no-repeat center top;
}
.lxzBar h1{
	width: 100%;
	text-align: center;
	color: #e94f06;
	font-size: 24px;
	padding-top: 8px;
	font-family: Microsoft YaHei;
}
.lxzBar span{
	width: 100%;
	height:20px;
	line-height: 14px;
	text-align: center;
	display: block;
	color:#010000;/*
	font-size: 12px;*/
	padding-top: 5px;
	font-weight: normal;
}
/*家装清单*/
.jzqd{
	width: 100%;
	height: auto;
	/*position: relative;*/
	margin:0px;
	padding: 0px;
}
.jzqd img{
	vertical-align: middle;
	width: 100%;
}
.jzqd p{
	position: absolute;
	color: #ffff00;
	font-size: 10px;
	height: 18px;
	line-height: 18px;
}
.jzqdKj,.jzqdZc{
	width: 100%;
	position: relative;
}
.jzqdKj img,.jzqdZc img{
	border-bottom: 1px solid #fff;
}
.jzqdKj p.jzqd01{
	width: 46.875%;
	top:33.15%;
	left: 2.46375%;
}
.jzqd span{
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 20px;
	background: #ff0000;
	color: #ffff00;
	display: inline-block;
	text-align: center;
}
.jzqdZc  p.jzqd02{
	width: 70%;
	height:auto;
	top:33.928%;
	left: 2.46375%;
	line-height: 14px;
}
.jzqdZc  p.jzqd02 span{
	width: 18px;
	height: 18px;
	line-height: 18px;
	border-radius: 18px;
}
p.jzqd03{
	width: 56.25%;
	top:33.928%;
	left: 2.46375%;
	line-height: 16px;
}
.mFtBanner{
	width: 100%;
	height: auto;
	margin-top:5px;
}
.mFtBanner img{
	width: 100%;
}
.zxqg{
	padding: 13px 3.125%;
}
a.zxzxBtn{
	width: 48%;
	height: 40px;
	line-height:40px;
	background: #fff;
	border:1px solid #fa4c06;
	border-radius: 5px;
	display: block;
	float: left;
	text-align: center;
	color: #fa4c06;
	font-size: 14px;
}
a.ljqgBtn{
	width: 48%;
	height:40px;
	line-height:40px;
	background: #fa4c06;
	border:1px solid #fa4c06;
	border-radius: 5px;
	display: block;
	float: right;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.lxzBar h2{
	width: 100%;
	height: 88px;
	line-height: 62px;
	text-align: center;
	color: #fa4c06;
	font-weight: normal;
	font-size: 20px;
}
/*装修案例主体部分*/
.mZxalM{
	padding:10px 0.9375%;
	background: #fff;
	margin-bottom: 5px;
}
.zxalLeft{
	width: 35.03%;
	float: left;
	height: auto;
}
.zxalRight{
	width: 63.70%;
	height: auto;
	float: right;
	position: relative;
}
.zxalLTop{
	width: 100%;
	height: auto;
	position: relative;
}
.zxalLTop img{
	width: 100%;
}
.zxalLTopM{
	padding:13px 2.941px;
	background: #13b5b1;
	border:2px solid #fff;
}
.zxalLTop h1{
	font-size: 18px;
	color:#ffffff;
	height: 24px;
	line-height: 24px;
	position: absolute;
	top:26.77125%;
	left: 11.236%;
}
.zxalLTop p{
	/*font-size: 12px;*/
	color:#ffffff;
	height: 20px;
	line-height: 20px;
	position: absolute;
	top:60.63%;
	left: 11.236%;
}
.zxalLBt{
	width: 100%;
	height: auto;
	margin-top:2%;
	position: relative;
}
.zxalLBt img{
	width: 100%;

}
.zxalLBt .zxalInfo{
	position: absolute;
	width: 100%;
	height: 25px;
	line-height: 25px;
	bottom: 2px;
	left: 0px;
	width: 100%;
	text-align: center;
	/*font-size: 12px;*/
	color: #ffffff;
	background: rgba( 0, 0, 0, 0.4 );
	overflow: hidden;
}
.zxalRight img{
	width: 100%;
}
.zxalRight .zxalInfo{
	position: absolute;
	width: 100%;
	height: 25px;
	line-height: 25px;
	bottom: 2px;
	left: 0px;
	width: 100%;
	text-align: center;
	color: #ffffff;
	background: rgba( 0, 0, 0, 0.4 );
	overflow: hidden;
}
/*设计师部分*/
.mSjsm{
	padding:0px 1.5625%;
}
.msjs{
	width: 49.1935%;
	height: auto;
	margin-top:5px;
}
.msjs img{
	width: 100%;
	height: auto;
}
.msjsInfo{
	width: 100%;
	height: auto;
	background: #fff;
	padding:13px 0px;
	text-align: center;
	margin-top:1px;
}
.msjsInfo h2{
	color: #000000;
	font-size: 14px;
	font-family: Microsoft YaHei;
	height: 20px;
	line-height: 20px;
}
.msjsInfo p{
	width: 100%;
	height: 18px;
	line-height: 18px;
	color: #000000;
	font-size: 12px;

}
a.moreSjs,a.moreGl{
	width: 93.75%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #666666;
	font-size: 14px;
	background: #fff;
	display: block;
	margin: 13px auto;
	border-radius: 5px;
	border:1px solid #c9c9c9;
}
a.moreZal{

}
.mzxgl{
	padding:9px 3.125%;
}
.mzxglM{
	width: 100%;
	background: #fff;
	padding-bottom: 4px;
	margin-bottom: 5px;
}
.mzxgl img{
	width: 100%;

}
.mzxgl ul{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.mzxgl ul li{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #eee;
	list-style: none;
	text-indent: 5px;
	color: #333333;
	font-size: 12px;
}
.mzxgl ul li a{
	width: 100%;
	display: block;
	height: 40px;
	line-height: 40px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	color: #333333;
	font-size: 14px;
	font-family: Microsoft YaHei;
}
.mzxgl ul li a:hover{
	color: #fa4c06;
}
.mzxgl ul li:last-child{
	border-bottom: none;
}
a.moreGl{
	width: 100%;
}
.wapM .footer{
	width: 100%;
	height: 49px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 0px;
	border-top:1px solid #a7a7a7;
}
.wapM .footer ul{
	background: #fff;
}
.wapM .footer ul li{
	width: 20%;
	padding-top:10px;
	padding-bottom: 10px;
	float: left;
	position: relative;
	text-align: center;
	list-style: none;
}
.wapM .footer ul li a{
	display: block;
}
.wapM .footer ul li img{
	width: 16px;
	height: 16px;
	margin: 0 auto;/*
	margin-bottom: 5px;*/
}
.wapM .footer ul li span{
	width: 100%;
	height: 13px;
	line-height: 20px;
	display: block;
	text-align: center;
	font-size: 12px;
}
/*报价弹出框*/
.bjTck{
	position: absolute;
	top:0%;
	left: 3.125%;
	width: 93.75%;
	height: auto;
	z-index:999;
	border:1px solid #999;
	border-radius: 10px;
	background: #ffffff;
	display: none;
}
.bjTckTop{
	width: 100%;
	height: 34px;
	line-height: 34px;
	background: #eeeeee;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-indent: 10px;
}
.bjTckTop h1{
	width: 50%;
	height: 34px;
	line-height: 34px;
	float: left;
	display: block;
	font-family: Microsoft YaHei;
	color: #666666;
	font-size: 14px;
	font-weight: normal;
}
.closeBtn{
	width: 22px;
	height: 22px;
	margin-top:6px;
	float: right;
	margin-right: 10px;
	background: url(../images/closeBtn.png) no-repeat left center;
	background-size: 100%; 
	cursor:pointer;
}
.bjTckMain{
	width: 93.72%;
	height: auto;
	margin: 0 auto;
}
.bjTckMain p{
	width: 100%;
	height: auto;
	line-height: 20px;
	padding:10px 0px;
	font-size: 12px;
}
.mYgbj{
	width: 100%;
	height: auto;
	/*line-height: 29px;*/
}
.mYgbj span{
	float: left;
	height: auto;
	line-height: 22px;
	width: 56%;
	display: block;
	font-weight: bold;
	color: #333333;
	font-size: 12px;
}
a.mYgbjTel{
	display: block;
	width: 43.74%;
	height: 29px;
	line-height: 29px;
	text-align: center;
	float: right;
	background: #fa4c06 url(../images/tel.png) no-repeat 24.2% center;
	background-size: 8%;
	border-radius: 5px;
	color: #fff;
	font-size: 12px;
	font-family: Microsoft YaHei;
}
.mYgbjZc{
	width: 100%;
	height: 29px;
	line-height: 29px;
	background:#fa4c06;
	margin-top:10px;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	font-size: 12px;
	font-family: Microsoft YaHei;
	cursor: pointer;
}
.footer ul li.cur span {
color: #fa4c06;
}

/********** 160219首页产品版块修改style  **********/
.cp-01, .cp-02, .cp-03 { width:100%; } .cp-02, .cp-03 { margin-top:-2px;}
.cp-01 img, .cp-02 img, .cp-03 img { width:100%; height:auto; }
.cp01-txt, .cp02-txt, .cp03-txt { width:100%; height:100%; position:relative; }
.cp01-txt p, .cp02-txt p, .cp03-txt p { color:#ffffff; }
.cp01-txt p:nth-child(2) { font-weight:bold; font-size:16px; position:absolute; top:50.82%; left:3.91%; }
.cp01-txt p:nth-child(3) { width:43.75%; font-size:14px; position:absolute; top:65.24%; left:3.91%; }
.cp02-txt p:nth-child(2) { font-weight:bold; font-size:16px; position:absolute; top:39.56%; left:54.22%; }
.cp02-txt p:nth-child(3) { font-size:14px; width:43.75%; height:auto; line-height:16px; position:absolute; top:54.47%; left:54.22%; }
.cp03-txt p:nth-child(2) { font-weight:bold; font-size:16px; position:absolute; top:37.21%; left:3.91%; }
.cp03-txt p:nth-child(3) { font-size:14px; width:43.75%; height:auto; line-height:16px; position:absolute; top:52.08%; left:3.91%; }

/********** 160309首页导航style  **********/
.mNav-icon { cursor:pointer; }
.mNav { width:100%; padding:15px 0; background-color:#ffffff; position:absolute; top:0; left:0; z-index:1; display:none; }
.mNav-close { cursor:pointer; text-align:right; padding:0 3.125%; }
.mNav ul { padding:50px 0; }
.mNav ul li { width:33.33%; height:auto; padding-bottom:20px; text-align:center; float:left; }
.mNav ul li a img { width:50px; height:50px; }
.mNav ul li a span { display:block; width:100%; height:20px; line-height:20px; }
.bj-button{ background:#ffffff !important; color:#fa4c06 !important; height:38px; line-height:38px; border:#fa4c06 1px solid !important; }
.bj-button-false{ background:#ddd !important; color:#999 !important; height:38px; line-height:38px; border:#ccc 1px solid !important; }





















