
@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	font-family:Microsoft YaHei;
	font-size: 14px;
	color: #666;
}
a{
	text-decoration: none;
	font-weight: normal;
}
input { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }
input, select { 
	-webkit-appearance: none; 
	-moz-appearance: none; 
	-ms-appearance: none; 
	-o-appearance: none; 
	appearance: none; 
}

/*h1,h2,h3{
	font-weight: normal;
}*/
/*Fix Float BUG 万能闭合*/
.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
 line-height: 0px;
}
.fl {
float: left;
}
.fr {
float: right;
}
.clear{
	clear: both;
}
/*公用头部分*/
body{
	background: #f0f0f0;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 1;
	position: relative;
}
.wapM{
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	padding-bottom: 50px; 
}
header {
	background-color: #ffffff;
	padding: 15px 3.125%;
}
header h1 { 
	font-size:16px;
	height: 13px;
	line-height: 12px;
	text-align: center;
	font-weight: normal;
}
.goBack img{
	width: 11px;
	height: 20px;
	float: left; 
	cursor: pointer;
}
/*案例列表页*/
.mCase{
	width: 100%;
	height: auto;
	margin-top:10px;
	background: #fff;
	position: relative;
}
.mCaseNav{
	border:1px solid #cccccc;
	height: 42px;
	line-height: 42px;
	position: absolute;
	z-index:999;
	background: #fff;
	width:99.5%;
}
.mCaseNav > ul li{
	width: 24.69%;
	height: 42px;
	line-height: 42px;
	float: left;
	border-right: 1px solid #ccc;
	list-style-type: none;
	text-indent: 2%;
	background: url(../images/down.png) no-repeat 86% center;
	background-size: 17%;
	cursor: pointer;
}
.mCaseNav > ul li:last-child{
	border-right: none;
}
.mCaseNavDown{
	margin-top:1px;/* 
	 padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 3.125%;
	padding-right: 2.125%;  */
	padding: 15px 3.125%;
	/* background:rgba(255,255,255,0.8) none repeat scroll !important; */
	background: #fff;
	display: none;
	position: absolute;
	z-index:999;
	width: 93.5%;
	overflow-y:scroll;
	box-sizing:content-box;
	height: 230px;
}
/* .mCaseNavDown ul{
	width: 93.5%;
	box-sizing:content-box;
	height: 230px 
	overflow-y:scroll;
	margin:0 auto;
	position: relative;
	z-index:999;
} */
.mCaseNavDown ul li{
	height: 38px;
	width: 30%;
	border:1px solid #ccc;
	list-style: none;
	text-align: center;
	float: left;
	margin-right: 2.659%;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
/*  .mCaseNavDown ul > li:nth-child(3n+1){
	float: right;
	margin-right:0px;
} */
.mCaseNavDown ul{
	display: none;
}
.mCseList{
	/*padding: 15px 3.125%;*/
	height: auto;
	margin: 0 auto;
	padding-top: 38px;
}
.mCseList ul li{
	padding: 15px 3.125%;
	list-style: none;
	position: relative;
	padding-top:15px;
}
.mCaseListImg{
	padding-bottom: 25px;
	position: relative;
}
.mCaseListImg a{
	display: block;
}
.mCaseListImg > a img{
	width: 100%;
	max-width: 600px;
	min-width: 300px;
}
.mCseList ul li .mCaseListImg .mDesigner img{
	width: 15%!important;
	/*height: 91px!important;*/
	position: absolute;
	bottom:3px;
	z-index:222;
	left: 42.5%;
	border:1px solid #ccc;
	border-radius: 50px;
	background: #fff;
}
.mCaseInfo{
	width: 100%;
	height: auto;
	text-align: center;
}
.mCaseInfo h3{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: normal;
}
.mCaseInfo p{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.mCaseInfo p span{
	font-size: 14px; 
	margin-right: 10px;
}
.mCaseListBar{
	width: 100%;
	height: 10px;
	background: #f0f0f0;
}
.mMoreBtn{
	padding: 15px 3.125%;
}
.mMoreBtns{
	border:1px solid #ccc;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #fff;
	font-size: 14px;
	cursor: pointer;
	width:100%;
}
.wapM .footer{
	width: 100%;
	height: 49px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 0px;
	border-top:1px solid #a7a7a7;
	z-index:222;
}
.wapM .footer ul{
	background: #fff;
}
.wapM .footer ul li{
	width: 20%;
	padding-top:10px;
	padding-bottom: 10px;
	float: left;
	position: relative;
	text-align: center;
	list-style: none;
}
.wapM .footer ul li a{
	display: block;
}
.wapM .footer ul li img{
	width: 16px;
	height: 16px;
	margin: 0 auto;/*
	margin-bottom: 5px;*/
}
.wapM .footer ul li span{
	width: 100%;
	height: 13px;
	line-height: 20px;
	display: block;
	text-align: center;
}
.footer ul li.cur span{
	color:#fcc;
}
.hide{
	display:none;
}
.gotop{
	float: right;
	margin-top:10px;
	display: none;
}
.gotop img{
	width: 30px;
	height: 30px;
	cursor: pointer;
}
/*局部空间列表页面*/
.mSpecialList ul{
	padding: 15px 3.125%;
	padding-top: 46px;
	-webkit-column-count: 2;
    -webkit-column-gap: 1%;
    /*-webkit-column-rule: 5px solid #333；
    -webkit-column-width: 210px；*/

    -moz-column-count: 2;
    -moz-column-gap: 1%;
    /*-moz-column-rule: 5px solid #333；
    -moz-column-width: 210px；*/

    column-count: 2;
    column-gap:1%;
    /*column-rule: 5px solid #333；
    column-width: 210px；*/
}
.mSpecialList ul li{
	list-style-type: none;
	float: left;
	width: 100%;
}
.mSpecialList ul li img{
	width: 100%;
	padding-top: 10px;
}
/*案例图册有结果页面*/
.mCaseSearch{
	padding: 15px 3.125%;
	background: #fff;
}
.mCaseSea{
	width: 100%;
	height: 40px;
}
.mCaseSea input{
	width: 72.4%;
	height: 38px;
	line-height: 38px;
	text-indent: 10px;
	box-shadow: none;
	background: none;
	float: left;
	outline: 0; 
	resize: none; 
	border: 1px solid #ccc;
	border-radius: 5px;
	border-right: none;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 14px;
}
.mCaseSearchBtn{
	width: 27.5%;
	height: 40px;
	float: right;
	background: #fa4c06;
	border-radius: 5px;
	margin-left: -5px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}
.mCaseSearch p{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #333333;
	font-size: 14px;
	margin-top:10px;
}
.mCaseSearch p span{
	color: #fa0606;
	font-size: 14px;
}
.mCaseSearch p.noResult{
	text-align: center;
	margin-top:20px;
	height: 20px;
	line-height: 20px;
}
.mCaseSearch p.noResult1{
	text-align: center;
	margin-top:5px;
	height: 20px;
	line-height: 20px;
}
.noResultUl{
	width: 100%;
	height: auto;
	margin-top:25px;
}
.noResultUl ul li{
	list-style: none;
	width: 17%;
	float: left;
	height: 40px;
	line-height: 40px;
	border:1px solid #ccc;
	float: left;
	border-radius: 5px;
	color: #999999;
	font-size: 14px;
	text-align: center;
	margin-right: 2.923%;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.noResultUl ul li:nth-child(5n){
	margin-right: 0px;
}
.noResultUl ul li a{
	color: #999999;
	font-size: 14px;
}
.mNoResult{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: url(../images/noResultBg.png) no-repeat center center;
	color:#313131;
	font-size:16px;
	text-align: center;
}
.mSpecilNo{
	padding-top: 0px;
	padding-bottom: 0px;
}
.mSpecilNos ul li{
	margin-bottom: 0px;
}
.mSpecilNo .mNoResult{
	padding-bottom: 15px;
}
.mSpecialList ul li:nth-child(2n){
	float: right;
}
/*案例详情页*/
.case_detail{
	width: 100%;
	height: auto;
	background: #f0f0f0;
}
.caseDetail_sjs{
	padding: 10px 3.125%;
	background: #fff;
	margin-top:10px;
	position: relative;
}
.caseSjsIcon{
	width: 80px;
	height: 64px;
	float: left;
}
.caseSjsIcon img{
	width: 64px;
	height: 64px;
	border-radius: 50px;
	border:3px solid #f0f0f0;
}
.caseSjsInfo{
	width: 40%;
	height: 64px;
	float: left;
	overflow:hidden;
}
.caseSjsInfo h3{
	width: 100%;
	height: 30px;
	line-height: 30px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-top:8px;
	font-weight: normal;
	font-size: 16px;
}
.caseSjsInfo p{
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
}
.caseSjsYy{
	width: 74px;
	height: 40px;
	line-height: 40px;
	float: right;
	text-align: center;
	color: #fff;
	background: #fa4c06;
	font-size: 14px;
	cursor:pointer;
	position: absolute;
	right: 3.125%;
	z-index:999;
	top:12px;
}
.caseDetailMain{
	padding: 15px 3.125%;
	margin-top:10px;
	background: #fff;
}
.caseDetailHead{
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 10px;
}
.caseDetailHead h2{
	width: 100%;
	height: 25px;
	line-height: 25px;
	color: #333333;
	font-weight: normal;
	font-size: 16px;
}
.caseDetailHead p{
	width: 100%;
	height: 25px;
	line-height: 25px;
	color: #999999;
	font-size: 14px;
}
.caseDetailHead p span{
	height: 25px;
	line-height: 25px;
	color: #999999;
	font-size: 14px;
	margin-right: 10px;
}
.caseDetailBody{
	width: 100%;
	height: auto;

}
.caseDetailBody img{
	max-width: 600px;
	width: 100%;
	border:1px solid #ccc;
}
.caseDetailBody p{
	width: 100%;
	height: auto;
	line-height: 20px;
	color: #333333;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.caseDetailShare{
	width: 100%;
	height: 40px;
	line-height: 40px;

}
.caseDetailShare span{
	float: left;
	height: 40px;
	line-height: 40px;
	display: block;
	color: #666;
}
.jiathis_style{
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	float: left;
	margin-left: 5px;
}
.caseDetailShare .jiathis_style_24x24 a{
	margin-top:7px;
	display: block;
	float: left;
	width: 35px;
	height: 35px;
}
/*.caseDetailShare .jiathis_style a.jiathis_button_qzone .jtico_qzone{
	background: url(../images/qq.png) no-repeat center top!important;
	background-size: 10%;
}*/
.jiathis_style .button, .jiathis_style .jiathis_txt{
	margin-top:7px;
}
.caseRelete{
	width: 100%;
	height: auto;

}
.caseReleteHead{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: url(../images/noResultBg.png) no-repeat center center;
	color: #313131;
	font-size: 16px;
	text-align: center;
	margin-top:5px;
}
.caseReleteBody{
	padding: 10px 3.125%;
}
.caseReleteBody ul li{
	/*width: 49.167%;*/
	height: auto;
	/*float: left;*/
	list-style-type: none;
	background: #fff;
	overflow: hidden;
}
.caseReleteBody ul li img{
	width: 100%;
}
.caseReleteBody ul li span{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	display: block;
	font-size: 14px;
	color: #333;
}
/*.caseReleteBody ul li:nth-child(2n){
	float: right;
}*/
/* mBanner */
.mBanner{
	width: 100%;
}
.mBanner img { 
	width:100%; 
	height:auto; 
}
.relative {
	position: relative;
	left: 0;
	top: 20%;
}
/*public scroll*/
.scroll{margin:0px auto;max-width:640px;}
.scroll_box{overflow:hidden;visibility:hidden;position:relative;}
.scroll_wrap{overflow:hidden; position:relative;}
.scroll_wrap li{position:relative;display:block;width:100%;float:left;}
.scroll_wrap li a{display:block;margin:0 auto;position:relative;}
.scroll_position{position:absolute;left:45%;z-index:400px;bottom:5px;}
.scroll_position li{display:inline-block;width:10px;height:10px;border-radius:10px;background:#fff;}
.scroll_position li a{font-size:0;}
.scroll_position li.on{background-color:#ffd800;}
.scroll_position_bg{position:absolute;bottom:12px;left:42%;padding:0 15px;z-index:380px;height:26px;border-radius:26px;}
.special_detail{
	padding-top: 15px;
	padding-bottom: 15px;
	background: #fff;
	margin-top:15%;
	position: relative;
}
.scroll_wrap li a p{
	width: 100%;
	height: auto;
	line-height: 20px;
	line-height: 20px;
	text-align: center;
	color: #333333;
	font-size: 14px;
	padding-top: 10px;
}
/*.wapMHide{
	background: #000;
	display: none;
}*/
/*.caseReleteBody ul{
	-webkit-column-count: 2;
    -webkit-column-gap: 10px;
    /*-webkit-column-width: 210px;*/

    /*-moz-column-count: 2;
    -moz-column-gap: 10px;*/
   /* -moz-column-width: 210px;*/

    /*column-count: 2;
    column-gap: 10px;*/
    /*column-width: 210px;*/
/*}*/
.caseReleteBody ul li{
	margin-bottom: 10px;
}
.caseReleteBody ul{
	width: 49.17%;
	height: auto;
	float: left;
}
.caseReleteBody ul:nth-child(2n){
	float: right;
}