
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listjobclass/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,navTabAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="{$info.ClassID}"/>
		<div class="pageFormContent nowrap" layoutH="60" >
			
			<dl>
				<dt>招聘类别名称：</dt>
				<dd><input type="text" class="required"  style="width:100%" name="ClassName" value="{$info.ClassName}"/></dd>
			</dl>
		
			<dl>
				<dt>招聘类别描述：</dt>
				<dd>
				<textarea name="ClassNote" cols="50" rows="5" class="textInput">{$info.ClassNote}</textarea>
				</dd>
			</dl>
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

