
<div class="pageContent">
    <form method="post" action="__URL__/upimg"  class="pageForm required-validate" enctype="multipart/form-data"
        onsubmit="return iframeCallback(this,fileback);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
        <div class="pageFormContent" layoutH="60">
            <dl>
                <dt>文件：</dt>
                <dd>
                    <input type="hidden" value="{$width}" name="width">
                    <input type="hidden" value="{$height}" name="height">
                    <input type="hidden" value="{$type}" name="type">
                    <input type="file"  style="width:100%" name="pic"/>
                    <span class="info">图片尺寸要求：宽{$width}像素；高{$height}像素</span>
                </dd>
            </dl>
            
        </div>
        
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>

