<include file="Common/header" />
<!--*********************header 引入区 end*********************-->
<!--页面独立css和js引入区-->

<link href="__CSS__/about.css" type="text/css" rel="stylesheet"><!--页脚服务支持导航等页面独立样式-->
<!--<script src="__JS__/sc-ui-control.js" type="text/javascript"></script>-->

<!--*********************contanier 内容区 *********************-->
<div class="layout">
	<!--Breadcrumb -->
    <div class="web-step">
          <a href="http://{:C('scurl')['SEC_DOMAIN']}{:C('scurl')['DOMAIN']}">实创装饰首页 ></a>
         <a href="{:C('scurl')['ABOUT_INDEX']}">关于实创 > </a>
         <a>社会责任</a>
     </div>
     <!--Breadcrumb  end-->
</div>

<!--about-news-list-->
<div class="about-news-nav-bg about-shzrBg">
	<div class="layout container-minheight clearfix">
		<div class="about-nav txt-center">
        	<ul>
<include file="left_menu_about" shzr='  class="active"' />
             </ul>
        </div>
	</div>
</div>

<div class="layout container-minheight clearfix">

    <div class="inside-contanier-l-wrap padding-none f_r ">
        <h2 class="h-s-title about-news-list-title txt-center">社会责任</h2>
          <div class="ljsc_right">
            <div class="scAboutShzr">
              <h3>情系玉树----实创装饰与玉树人民共建家园</h3>
              <p>2010年5月7日下午13:30分，实创装饰在集团总部七层大会议室举办一场"我为玉树捐衣"的公益活动。玉树受灾后，灾区仍没有得到完全充分的救助，灾民面临着昼夜温差大，灾区降雨量多，物资不充足的恶略条件，夜晚对于灾区的百姓来讲，依然像噩梦一样难度。 实创全体员工心系玉树，积极投身到"情系玉树、共建家园——抗震救灾大型募捐活动"中，再次伸出援助之手，为灾区提供些闲置不用的衣物、鞋子， 帮助灾区群众尽快渡过难关，与灾区人民携手同心，众志成城，共同夺取抗震救灾斗争的新胜利！另外实创装饰集团在5月中旬将这些衣物及善款亲自送到了灾区！</p>
              <img src="__IMG__/shzr1.jpg" />
              <h3>实创装饰第二届公益植树活动</h3>
              <p>森林是地球之肺，被誉为"大自然的装饰美化师"。植树一直是一项造福子孙后代的公益活动。2012年4月1日，一贯以倡导绿色家装、欧标环保而著称的实创装饰集团携手瑞士卢森再次举办了以"感恩自然"为主题的公益植树活动。此次举办地为怀柔区"格林陆地"植树区，包括实创装饰集团员工、瑞士卢森地板工作人员以及热心环保的实创客户参与者等，共130余人参与了此次活动。</p>
              <img src="__IMG__/shzr2.jpg" />
              <h3>实创微公益：走进山村学校</h3>
              <p>2011年的教师节与中秋节相会，实创家居装饰集团有限公司继“春季绿色之行”后进行了年度第二次有意义的“进贫困山村 做微公益”活动。</p>
              <p>9月8日来自实创装饰的14位爱心志愿者驱车百余公里来到了位于河北太行山脉的山村小学，当地因地处偏僻山路崎岖经济仍非常滞后。当车驶进过狭长的小路，俯视一片空地确定那就是学校时，所有的志愿者都非常的震惊，学校仅有两间简陋的教室、十几把课桌、一个30平的操场和一位老师。</p>
              <p>当看到活泼可爱的孩子们，志愿者们都十分关切的询问各个孩子的学习情况、家庭生活情况，在交谈中，叮嘱孩子们要尊重老师和家长的付出，鼓励孩子们刻苦学习，自立自强，引导孩子们热爱学习、热爱劳动、热爱家园，努力培育团结互助的高尚美德。随后，志愿们把带去的新华字典、双肩书包、整套文具和各式运动器材及爱心小礼物，现场与14名贫困小学生直接进行了“一对一”资助。</p>
              <p>课间活动的时候，看着孩子们在不大的操场中笨拙的追逐足球，虽然他们从来没有踢过，但大家都非常喜欢体育运动，很享受那份很快乐。与此同时实创装饰志愿者们在教室外边涂刷了可爱的美图，为学校增添了更多的色彩。</p>
              <p>最后，大家一致叮嘱老师要好好保重身体，志愿者队长还当场把联系方式留给了老师并诚恳地说只要有困难，我们大家都会尽力提供帮助。整场活动中无论是孩子、老师还是家长都满怀感激之情，都表示不辜负实创装饰对他们的关爱。</p>
              <p>此次公益行是实创装饰首次走进山村对贫困孩子进行资助，感受到了爱心行动的必要性并会一直做下去。实创装饰也希望有越来越多的企业和爱心人士能加入到走进山村做微公益的活动中来。</p>
            </div>
          </div>
          		  
    </div>
        
</div>

<!--*********************contanier 内容区 end *********************-->


<!--*********************footer 引入区*********************-->
<include file="Common/foot" />
<!--*********************footer 引入区 end*********************-->

</body>
</html>
