<include file="Common/header" />
<!--*********************header 引入区 end*********************-->
<!--页面独立css和js引入区-->

<link href="__CSS__/about.css" type="text/css" rel="stylesheet"><!--页脚服务支持导航等页面独立样式-->
<!--<script src="__JS__/sc-ui-control.js" type="text/javascript"></script>-->

<!--*********************contanier 内容区 *********************-->
<div class="layout">
	<!--Breadcrumb -->
    <div class="web-step">
        <a href="{:C('scurl')['INDEX_INDEX']}">实创装饰首页 ></a>
         <a href="{:C('scurl')['ABOUT_INDEX']}">关于实创 > </a>
         <a>新闻中心</a>
     </div>
     <!--Breadcrumb  end-->
</div>

<!--about-news-list-->
<div class="about-news-nav-bg">
	<div class="layout container-minheight clearfix">
		<div class="about-nav txt-center">
        	<ul>
<include file="left_menu_about" news='  class="active"' />
             </ul>
        </div>
	</div>
</div>

<div class="layout container-minheight clearfix">

    <div class="inside-contanier-l-wrap padding-none f_r ">
        <h2 class="h-s-title about-news-list-title txt-center">新闻中心</h2>
        <div class="ljsc_right">
            <volist name="list" id="vo" empty="暂时没有数据" mod='7'> 
              <eq name='mod' value='0'><ul class="ljsc_ul"></eq>        
                  <li>
				  <span class="ljsc_span_01">
					 <if condition="$vo.IsLink eq 1">
					 <a href="{$vo.LinkUrl}" target="_blank">{$vo.Title}</a>
					 <else/>
					 <a href="{:U('about/newsinfo?id='.$vo['ID'])}" target="_blank">{$vo.Title}</a>
					 </if> 
				  </span>
				  <span class="ljsc_span_02">{$vo.UpdateTime}</span></li>
				  <if condition="$i eq count($list)"></ul>
                  <else />
                  <eq name="mod" value="6"></ul></eq>
                  </if>
            
            </volist>
     	</div>
        
        		<!--分页-->
               <p class="nex-page">{$page}</p>
                <!--分页 end-->  
    </div>
        
</div>

<!--*********************contanier 内容区 end *********************-->


<!--*********************footer 引入区*********************-->
<include file="Common/foot" />
<!--*********************footer 引入区 end*********************-->

</body>
</html>
