<include file="Common/header" />
<!--*********************header 引入区 end*********************-->
<!--页面独立css和js引入区-->

<link href="__CSS__/about.css" type="text/css" rel="stylesheet"><!--页脚服务支持导航等页面独立样式-->
<!--<script src="__JS__/sc-ui-control.js" type="text/javascript"></script>-->

<!--*********************contanier 内容区 *********************-->
<div class="layout">
	<!--Breadcrumb -->
    <div class="web-step">
          <a href="http://{:C('scurl')['SEC_DOMAIN']}{:C('scurl')['DOMAIN']}">实创装饰首页 ></a>
         <a href="{:C('scurl')['ABOUT_INDEX']}">关于实创 > </a>
         <a>品牌荣誉</a>
     </div>
     <!--Breadcrumb  end-->
</div>

<!--about-news-list-->
<div class="about-news-nav-bg about-ppryBg">
	<div class="layout container-minheight clearfix">
		<div class="about-nav txt-center">
        	<ul>
<include file="left_menu_about" ppry='  class="active"' />
             </ul>
        </div>
	</div>
</div>

<div class="layout container-minheight clearfix">

    <div class="inside-contanier-l-wrap padding-none f_r ">
        <h2 class="h-s-title about-news-list-title txt-center">品牌荣誉</h2>
          <div class="ljsc_right">
           <div class="scAboutPpry clearfix">
             <div class="scAboutPpryM ">
             <div class="scAboutPpry1">
                 <h2>2015年</h2>
                 <div class="scAboutPpryCon">
                  <p>实创装饰集团被中国质量万里行授予：中国质量万里行质量信誉跟踪品牌</p>
                  <p>被天猫家装O2O商家大会授予“天猫家装全渠道2015年度之星”</p>
                  <p>被中国家居产业领袖峰会组委会授予“2015中国家居产业十大家装领军企业”</p>
                  <p>被天下网商授予“2015新网商年度品牌大奖”</p>
                  <p> 被北京建筑装饰协会授予北京市家庭居室装饰装修行业AAA级资信企业</p>
                  <p>被北京青年报授予“2015年家居典范企业”</p>
                  <p>被新浪家居授予“2015年年度创新品牌”</p>
                  <p>孙威荣获新浪家居2015年度中国家居产业影响力人物</p>
                  <p></p>
                 </div>
               </div>
              <div class="scAboutPpry1">
                 <h2>2014年</h2>
                 <div class="scAboutPpryCon">
                  <p>被“精品购物指南”评为“京城白领家装大调查”工作委员会特约成员单位</p>
                  <p>被“北京青年报”评为2014年北青读者口碑品牌</p>
                  <p>被“京华时报”评为2014京城消费者最钟爱的家装品牌</p>
                  <p>被“北京晚报”评为2014年京城百姓信赖的品牌家装公司</p>
                  <p> 被“新浪家居”评为2014年最具影响力品牌</p>
                  <p>被“新京报”评为2014年家装电商标杆企业</p>
                  <p>被“中国建筑装饰协会”评为2014中国家装电商创新实验基地</p>
                  <p>孙威被“新浪家居”评为中国家居产业2014年度影响力人物</p>
                  <p>被授予中关村高新技术企业</p>
                 </div>
               </div>
               <div class="scAboutPpry1">
                 <h2>2013年</h2>
                 <div class="scAboutPpryCon">
                   <p>被《福布斯》中文版评为“2013福布斯中国潜力企业”</p>
                   <p>被《北京商报》评为“2012-2013中国家居产业十大家装品牌”</p>
                   <p>荣获创业邦“中国高成长50强连锁企业”称号</p>
                   <p>荣获“2013亚洲品牌盛典亚洲名优品牌奖”</p>
                   <p>被《北京晚报》评为“2013百姓信得过家装品牌”</p>
                   <p>被中国建筑装饰协会评为“全国住宅装饰装修行业质量、服务、诚信五星级企业”</p>
                   <p>被北京市建筑装饰协会评为“2013最佳设计企业”</p>
                   <p>被北京市建筑装饰协会评为“2013最具成长力企业”</p>
                   <p>被《精品购物指南》评为“2013白领装修白皮书最具生活内涵奖”</p>
                   <p>荣获北青集团“2013年度家居行业典范评选客户信赖典范”</p>
                 </div>
               </div>
               <div class="scAboutPpry2">
                 <h2>2012年</h2>
                 <div class="scAboutPpryCon">
                   <p>荣登《福布斯》中文版 “2012福布斯中国最佳潜力企业”</p>
                   <p>《北京商报社》“2011-2012最佳完美品质风范奖”</p>
                   搜狐家居“2012年消费者喜爱品牌”</p>
                   <p>被《北京娱乐信报》评为“2012年度百姓心中绿色宜居品牌”</p>
                   <p>荣获“2012第二届中国国际设计峰会国际家居风尚引领品牌”</p>
                   <p>被《北京晨报》评为“2012京城家居旗舰品牌” </p>
                   <p>被新浪家居评为“2012年度中国家居产业口碑品牌”</p>
                   <p>被《北京娱乐信报》评为“2012年度家居创新奖”</p>
                   <p>被《法制晚报》评为“2012年度家居行业顾客信赖典范”</p>
                 </div>
               </div>
               <div class="scAboutPpry3">
                 <h2>2011年</h2>
                 <div class="scAboutPpryCon">
                   <p>被北京室内装饰协会评为“北京室内装饰行业五星级诚信企业”</p>
                    <p>中国建筑装饰协会授予“2011年全国住宅装饰装修行业示范、体验、研发、创新、采购基地” 荣获中国家居建材产品研究院“2011年中国<p>家居消费口碑榜金口碑品牌证书”</p>
                    被新华网评为“2011年度中国家居品牌最具竞争力企业”及“新华网友最信赖的家装企业”</p>
                    <p>荣获搜房网“2011年度中国家居最具影响力家装企业品牌”</p>
                    <p>荣获搜狐家居“2010—2011年度最受网友关注家装十大品牌”</p>
                    <p>被新浪家居评为“2011年度中国家居口碑榜金口碑品牌”</p>
                    <p>被《法制晚报》评为“2011年度家居行业客户信赖典范”</p>
                    <p>被中国建筑材料流通协会评为“建材流通行业优化升级工程重点示范单位</p>
                 </div>
               </div>
               <div class="scAboutPpry4">
                 <h2>2010年</h2>
                 <div class="scAboutPpryCon">
                    <p>被北京室内装饰协会、北京市工商联装饰行业协会评为“2010年度北京室内装饰行业五星级诚信企业”</p>
                    <p>被中国家居产业TOP10研究组评为“2010中国家居产业百强企业”</p>
                    <p>被《北京娱乐信报》评为“家居服务创新领袖”</p>
                    <p>被《北京晚报》评为“2010年度京城百姓信赖的十大诚信家装公司”</p>
                    <p>被《京华时报》评为“第三届北京家居建材行业拇指之尊——京城百姓最钟爱家居建材品牌”</p>
                    <p>被新浪家居评为“消费者最喜爱的家居品牌”</p>
                    <p>被搜狐网评为“中国居家新视角消费者喜爱品牌”</p>
                    <p>中国2010年上海世博会“推荐商户”</p>
                    <p>成为“中国木材与木制品流通协会木门专业委员会常务理事单位”</p>
                 </div>
               </div>
             </div>
           </div>
          </div>
          		  
    </div>
        
</div>

<!--*********************contanier 内容区 end *********************-->


<!--*********************footer 引入区*********************-->
<include file="Common/foot" />
<!--*********************footer 引入区 end*********************-->

</body>
</html>
