<include file="Common/header" />
<!--*********************header 引入区 end*********************-->
<!--页面独立css和js引入区-->

<link href="__CSS__/about.css" type="text/css" rel="stylesheet"><!--页脚服务支持导航等页面独立样式-->
<!--<script src="__JS__/sc-ui-control.js" type="text/javascript"></script>-->

<!--*********************contanier 内容区 *********************-->
<div class="layout">
	<!--Breadcrumb -->
    <div class="web-step">
          <a href="http://{:C('scurl')['SEC_DOMAIN']}{:C('scurl')['DOMAIN']}">实创装饰首页 ></a>
         <a href="{:C('scurl')['ABOUT_INDEX']}">关于实创 > </a>
         <a href="{:C('scurl')['ABOUT_NEWS']}">新闻中心 ></a>
         <a>{$show.Title}</a>
     </div>
     <!--Breadcrumb  end-->
</div>

<div class="about-news-nav-bg">
	<div class="layout container-minheight clearfix">
		<div class="about-nav txt-center">
        	<ul>
<include file="left_menu_about" news='  class="active"' />
             </ul>
        </div>
	</div>
</div>

<div class="layout">
   <div class="video-detail  clearfix">
    <div class="video-main">
    	<div class="video-left f_r">
        	<div class="v-area">
                <h3>
                    {$show.Title}
                </h3>
                <div class="title-info">
                    <ul>
                        <li>
                            <span>点击：</span>
                            <span>{$show.Hits}</span>
                        </li>
                        <li>
                            <span>时间：</span>
                            <span>{$show.UpdateTime}</span>
                        </li>
                        <li>
                            <span>来源：</span>
                            <span class="red">{$show.CopyFrom}</span>
                        </li>
                        <li>
                            <span>标签：</span>
                            <span class="red">{$show.Tag}</span>
                        </li>
                    </ul>
                </div>
                <div class="video-area" id="video-area2">
                {$show.Content|htmlspecialchars_decode}
                </div>
        	</div>
            <div class="title-tab">
              <div class="title-last"><eq name="prev.Title" value="">没有了<else/><a href="{:U('About/newsinfo?id=' . $prev['ID'])}">上一篇：{$prev.Title}</a></eq></div>
                <div class="title-next"><eq name="next.Title" value="">没有了<else/><a href="{:U('About/newsinfo?id=' . $next['ID'])}">下一篇：{$next.Title}</a></eq></div>
            </div>
            
        </div>
        
    </div>
</div>
</div>

<!--*********************contanier 内容区 end *********************-->


<!--*********************footer 引入区*********************-->
<include file="Common/foot" />
<!--*********************footer 引入区 end*********************-->

</body>
</html>
