<include file="Common/header" />
<!--*********************header 引入区 end*********************-->
<!--页面独立css和js引入区-->

<link href="__CSS__/about.css" type="text/css" rel="stylesheet"><!--页脚服务支持导航等页面独立样式-->
<!--<script src="__JS__/sc-ui-control.js" type="text/javascript"></script>-->
<!--*********************header 引入区 end*********************-->


<!--*********************contanier 内容区 *********************-->
<div class="layout">
	<!--Breadcrumb -->
    <div class="web-step">
          <a href="http://{:C('scurl')['SEC_DOMAIN']}{:C('scurl')['DOMAIN']}">实创装饰首页 ></a>
         <a href="{:C('scurl')['ABOUT_INDEX']}">关于实创 > </a>
         <a>法律声明</a>
     </div>
     <!--Breadcrumb  end-->
</div>

<!--about-news-list-->

<!-- <div class="about-news-nav-bg about-flsmBg">
  <div class="layout container-minheight clearfix">
    <div class="about-nav txt-center">
          <ul>
<include file="left_menu_about" flsm='  class="active"' />
             </ul>
        </div>
  </div>
</div> --> 

<div class="layout container-minheight clearfix">

    <div class="inside-contanier-l-wrap padding-none f_r ">
        <h2 class="h-s-title about-news-list-title txt-center">法律声明</h2>
          <div class="ljsc_right">
            <div class="scAboutFlsm">
              <div class="scAboutFlsmBar">
              <div class="scAboutflTit">实创网站使用条款</div>
              <p>感谢您访问本网站。在使用本网站前，请仔细阅读以下使用条款，该使用条款中包含您作为本网站用户所享有的权利和义务等重要内容。请注意访问和/或使用本网站（如复制任何信息、注册成为网站用户等）即表示您接受该使用条款。如果不接受该使用条款，请您立即停止使用本网站并删除、销毁所有包含本网站内容的复制件。</p>
              <h2>1、定义</h2>
              <p>1.1 “实创”：是指实创家居装饰集团有限公司 。</p>
              <p>1.2 “本网站”：是指由实创运营管理的、明示或引用并要求用户遵守本使用条款的网站。</p>
              <p>1.3 “服务”：是指本网站提供的任何功能、设施、应用、信息或其他服务。</p>
              <p>1.4 “网站内容”：是指本网站包含的任何数据、图表、图片、设计、描述、文档、音视频作品、软件、工具、链接、用户在本网站订阅的信息等内容。</p>
              <p>1.5 “您”、“用户” 或“客户”：是指任何访问或使用本网站的人，无论其是否属于本网站或本网站某项服务的注册用户。</p>
              <p>1.6 “用户提供信息”：是指用户依照实创的指示上传至本网站的图片、音视频资料、数据、个人信息、意见、评论、文件、文档等信息。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>2、用户提供信息</h2>
              <p>2.1 用户保证：</p>
              <p class="scAboutNb">2.1.1  用户提供信息是正确、完整、真实、合法的，不存在虚假、欺诈、骚扰性的、中伤他人的、伤害性的、诽谤、侮辱、恐吓、庸俗淫秽等违反法律、公序良俗或社会伦理道德的信息或内容，也不存在危害网络或计算机系统的安全性、完整性、稳定性、连续性的病毒、木马程序等电脑软件、文档或其他数据资料。</p>
              <p class="scAboutNb">2.1.2  用户对用户提供信息拥有完整的、独立的权利，保证实创按照第2.4条的规定使用用户提供信息不会侵犯任何第三方的著作权或其他合法权利，亦不会违反用户与任何第三方的约定。</p>
              <p>2.2 如果用户提供信息有违反第2.1条规定的情形，或实创有理由相信有上述情形，则实创有权利拒绝用户使用本网站的服务。对于用户因此情形而无法获得来自本网站的信息或其他服务，实创不负任何责任。</p>
              <p>2.3 对于用户提供信息中所涉及的用户个人信息，实创将按照《实创保密政策》（http://www.************** ）的规定予以保护。</p>
              <p>2.4 用户同意授予实创在全球范围内拥有免费的、永久性的、不可撤销的，使用、复制、修改、传播和展示用户提供信息的权利和许可。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>3、用户的用户名、密码和安全性</h2>
              <p>3.1 本网站可能会邀请用户就本网站或本网站某项服务的使用进行身份注册，实创完全尊重用户自主决定是否进行身份注册。如果用户选择进行身份注册，用户还应遵守本网站指示的其他条款和条件，包括但不限于注册条款。</p>
              <p>3.2 用户一旦注册成功并获得实创分配的用户名和密码，用户应妥善保管该用户名和密码，不得将其转让或授予他人使用，并对以其用户名从事的一切活动承担责任。</p>
              <p>3.3 如用户发现其用户名和密码遭他人非法使用，应立即通知实创。因黑客行为或用户的保管疏忽等非实创方面的原因导致用户名和密码遭他人非法使用的，实创不承担任何责任。</p>
              <p>3.4 如用户长时间未在本网站使用其用户身份达6个月（或实创另行指示的期间），实创有权终止用户的注册身份。</p>
              <p>3.5 实创同时保留无需任何理由随时终止用户访问本网站的权利及/或其注册身份，在此情形下，实创将尽合理的努力通知该用户。</p>
              <p>3.6 一旦用户的注册身份被终止，用户应立即停止使用本网站，并删除、销毁其保留的所有包含本网站内容的复制件。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>4、网站使用规则</h2>
              <p>4.1 在用户遵守本使用条款的前提下，实创授予用户关于本网站的有限的、不可转让的、非独占的、可撤销的、仅为个人用途的非商业性的使用的权利。在任何情形下，本网站内容及服务（包括但不限于用户获得的用户名等身份信息）仅被许可由用户个人使用而不得被出售或转让。实创保留本使用条款未特别授予的所有权利。</p>
              <p>4.2 用户在使用本网站过程中，必须遵循以下原则：</p>
              <p class="scAboutNb">4.2.1  遵守所有适用的法律和法规；</p>
              <p class="scAboutNb">4.2.2  遵守本使用条款及所有相关的协议、规定和程序，同时也必须遵循与因特网有关的程序和惯例；</p>
              <p class="scAboutNb">4.2.3  不得利用本网站从事违法犯罪的活动，包括分裂国家、教唆他人犯罪、侵犯计算机安全系统、干扰或混乱网络服务等危害国家安全或有损社会公共利益的行为；</p>
              <p class="scAboutNb">4.2.4  不得利用本网站进行任何可能对互联网正常运转造成不利影响的行为；</p>
              <p class="scAboutNb">4.2.5  不得侵犯实创或实创关联企业或其他任何第三方的专利权、著作权、商标权等知识产权、名誉权或其他任何合法权益，或从事损害实创利益或对实创造成不利影响的行为。</p>
              <p>4.3 除非已遵守了本使用条款的其它规定或已取得了实创事先许可，用户不得为任何目的从事以下行为：</p>
              <p class="scAboutNb">－下载、复制、展示、分发、传播、上载、出版、发行本网站内容；</p>
              <p class="scAboutNb">－修改、编辑或以其他方式演绎本网站内容；</p>
              <p class="scAboutNb">－转让、转售、出租本网站内容或服务。</p>
              <p>4.4 用户在使用本网站时违反任何上述规定，实创可自行判断要求用户改正或采取一切必要的措施（包括但不限于删除用户上传的内容、暂停或终止 用户使用本网站的权利）以减轻用户不当行为造成的影响。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>5、实创知识产权</h2>
              <p>5.1 用户对实创拥有的商标、商号、标识、图案、实创产品型号及名称、本网站的名称、域名或其衍生物（以下简称“实创标识”，包括但不限于：<img src="__PUBLIC__/web/
images/logo.png" /> ）不拥有任何权利。本使用条款亦不授予用户上述任何权利或权益。在未经实创事先书面同意的情况下，用户不得在任何宣传或促销材料、出版物中或媒体上使用实创标识 。</p>
              <p>5.2 除第5.1条的规定外，本网站中包含的任何信息、文本、图形等网站内容均受著作权法、商标法和/或其他知识产权法等相关法律的保护，其相关权利归实创或该内容提供者所有。未经实创或有关权利人事先同意，用户不得复制、分发、传播、修改、编辑，或在任何媒体直接或间接发布、播放该些内容，或者将该些内容用于任何商业目的。</p>
              <p>5.3 在实创或有关权利人事先同意的前提下，在遵循实创或有关权利人指示的基础上，用户可以对网站内容进行复制或分发，但用户必须确保复制和分发是完整和真实的，包括但不仅限于所有有关电子文档、著作权和商标宣言等，亦包括本使用条款本身。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>6、关于设计案例下载的特别规定</h2>
              <p>6.1 任何可从本网站下载的设计案例及有关文档（包含但不限于平面布局图、效果图等，以下统一简称为“设计案例”）的著作权及相关权利均为实创或提供者设计师所有。用户应遵守本使用条款第5条的规定。</p>
              <p>6.2 设计案例下载仅可以用户个人使用为目的，且设计案例使用应遵循设计案例附带或包含在设计案例内的最终用户许可协议（如有，以下简称“许可协议”）的规定。</p>
              <p>6.3 若设计案例带有任何保证，将仅以许可协议的规定为准。除许可协议承诺的之外，实创不做任何明示或暗示的保证，包括但不限于准确性、可靠性、适销性、适用于特殊目的或不侵权的保证，亦不承担任何因使用设计案例而导致的其他损失的责任。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>7、Cookie的使用</h2>
              <p>为了保证和方便向用户提供专业化和个性化的服务，实创将在用户浏览本网站时使用Cookie Files在用户无意识的情况下储存和跟踪用户的相关信息。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>8、外部链接</h2>
              <p>网站内容可能含有与其他网站的链接。请注意：该些外部链接仅为用户提供便利，不代表实创经营或参与经营该些网站，亦不代表用户被授予访问或使用该些网站的许可，用户应以自己的责任（包括但不限于遵守该些网站的使用条款）和费用访问该些网站，实创不对该些网站的内容和行为负责。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>9、责任限制</h2>
              <p>9.1 实创不能保证向用户提供的服务是连续的、即时的、准确的，不能保证缺陷一定会被及时纠正，也不能保证所提供的服务或服务器不受病毒或黑客等有害成分的侵袭。服务和网站内容依现状提供，实创不作任何形式的有关服务或网站内容的准确性、完整性、令人满意的品质、不侵权或适合某一特殊目的的保证。</p>
              <p>9.2 实创保留随时修改、增减、取消、暂停、中断或终止提供本网站的服务（全部或部分）而无需事先告知用户的权利，实创在行使前述各项权利时亦无需对用户承担任何责任。</p>
              <p>9.3 实创将尽可能地在本网站提供准确的信息。本网站内所涉及的产品图片与实物可能有细微区别，效果演示图和示意图仅供参考（图片为合成图、模拟演示图、炫维图），有关实创提供产品的外观（包括但不限于颜色）请以实物为准。限于篇幅，本网站中所包含的信息（包括但不限于产品规格、功能说明等）可能不完整，请以有关产品使用说明书的具体信息为准。产品价格、规格、型号、供应状况如有更改，恕不另行通知。</p>
              <p>9.4 实创保留随时更改网站内容所涉及的实创提供产品的设计、规格、工艺、材料的权利，而无需事先通知用户。</p>
              <p>9.5 限于篇幅, 网站中所包含的信息(包括但不限于产品规格、功能说明等)可能不完整，请以有关产品使用说明书的具体信息为准。</p>
              <p>9.6 本网站服务器如因系统维护或升级而需暂停服务时，将尽量事先公告。如因系统维护、升级而需暂停服务或因服务器故障、硬件故障、其他不可抗力因素而导致停止服务，于暂停服务期间造成的一切不便和资料、数据等遗失，本网站将尽力挽救恢复；如确实无法恢复，本网站不承担任何责任。</p>
              <p>9.7 实创不承担由于用户提供信息而可能产生的任何责任，包括但不限于因其他用户在没有获得授权的情形下使用用户提供信息，或因用户提供信息包含错误、不准确、病毒、诽谤、中伤、侵权等著作权法、隐私法或其他任何法律所禁止的内容或其他内容而产生的任何责任。实创亦不对用户提供信息在任何情形下的丢失、删除、移除或传输失败承担任何责任，用户应对其提供信息自行保留备份。实创保留随时删除或移除任何用户提供信息的权利，而无需通知用户，且不需承担任何责任。</p>
              <p>9.8 对于用户通过本网站或外部链接与第三方发生的任何法律行为，包括但不限于与第三方的交易，由用户与该第三方自行承担全部的责任，实创不承担任何责任。</p>
              <p>9.9 用户特此承认并接受：对于用户因使用本网站而遭受的任何直接或间接的损失，包括但不限于由于网站内容或服务的延误、不准确、错误和遗漏而产生的任何损害、责任、请求、损失或费用，实创不承担任何责任。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>10、 赔偿</h2>
              <p>因用户违反本网站使用条款的规定而产生的针对实创的威胁或被提起的任何类型的诉由、索赔、要求、费用、支出、损失、诉讼、政府调查和/或处罚、损害赔偿和责任，用户应向实创予以赔偿（包括但不限于律师和顾问费），且用户应为实创抗辩，使实创减轻损害。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>11、 本使用条款的修改</h2>
              <p>实创有权在必要时对本使用条款予以修改而无需事先通知用户。一旦发生变动，实创将尽可能及时地在本网站上进行更新。如用户不同意所修改的内容，其可主动停止使用本网站。如用户继续使用本网站，则被视为接受修改后的使用条款。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>12、其他协议或条款</h2>
              <p>用户在使用本网站的服务时，根据所涉及的服务内容，可能需要同时遵守其他协议或条款，包括但不限于有关会员的注册条款，设计案例的许可协议，购买实创产品的销售协议，文档下载的许可协议等所有适用的条款。用户仅在完全同意该条款的前提下，方可使用该有关的服务。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>13、 通知</h2>
              <p>对于使用条款的修改或其他重要事项，实创可依其选择通过网站公告、电子邮件或其他方式通知用户。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>14、 适用法律和争议解决</h2>
              <p>本网站使用条款的解释和执行均适用中华人民共和国法律。本使用条款及本网站内公布的任何附加条款，构成实创与用户之间关于使用本网站的完整协议。如果该协议的内容与适用的强制性法律规定不一致，则以该强制性法律规定为准。因该协议的履行产生的任何纠纷，首先由双方协商解决；协商不成的，任何一方均可向北京市有管辖权的法院提起诉讼。</p>
            </div>
            <div class="scAboutFlsmBar">
              <h2>15、其他</h2>
              <p>本使用条款的标题仅供参考，不作为解释条款内容的依据。</p>
              <p>如在使用本网站的过程中遇到任何问题，请通过以下电子邮件与我们联系。</p>
              <p>wz51567710@126.com</p>
            </div>
            </div>
          </div>
          		  
    </div>
        
</div>

<!--*********************contanier 内容区 end *********************-->


<!--*********************footer 引入区*********************-->
<include file="Common/foot" />
<!--*********************footer 引入区 end*********************-->

</body>
</html>
