<include file="Common/header" />
<!--*********************header 引入区 end*********************-->
<!--页面独立css和js引入区-->

<link href="__CSS__/about.css" type="text/css" rel="stylesheet"><!--页脚服务支持导航等页面独立样式-->
<!--<script src="__JS__/sc-ui-control.js" type="text/javascript"></script>-->

<!--*********************contanier 内容区 *********************-->
<div class="layout">
	<!--Breadcrumb -->
    <div class="web-step">
          <a href="{:C('scurl')['INDEX_INDEX']}">首页 ></a>
         <a href="{:C('scurl')['ABOUT_INDEX']}">关于实创 > </a>
         <a>薪酬福利</a>
     </div>
     <!--Breadcrumb  end-->
</div>

<!--about-news-list-->
<div class="about-news-nav-bg about-salary-nav-bg">
	<div class="layout container-minheight clearfix">
		<div class="about-nav txt-center about-nav-2">
        	<ul>
<include file="left_menu_joinus" xcfl='  class="active"' />
             </ul>
        </div>
	</div>
</div>

<div class="layout container-minheight clearfix">

  <div class="inside-contanier-l-wrap padding-none f_r ">
               <h2 class="h-s-title about-news-list-title txt-center">薪酬福利</h2>  
        <div class="abtou-salary-p">
        
          <span>为了吸引、激励和保留优秀人才，实现企业与员工的双赢，公司为员工提供全面的、有竞争力的薪酬福利体系</span>
    </div> 
         <div class="abtou-salary-p">
         <img src="/Public/web/images/salaty_01.png" width="398" height="298"> </div> 
    <div class="abtou-salary-p">
         <p>竞争力的薪酬</p>
          <b>★薪酬激励：</b><br>
          <span>实创提供具有外部竞争力和内部公平性的薪酬激励，以短期、中期和长期激励组合实现个人价值和企业价值的统一。</span>
         </div> 
         <div class="abtou-salary-p">
         <p>完善的福利</p>
          <b>★多元福利：</b><br>
          <span>实创提供五项保险和住房公积金构成的法定福利，实创还为员工提供丰富的企业福利和弹性福利，如：补充医疗保险、每年一次身体健康检查、六一儿童节员工子女关怀、三八节女员工关怀、少数民族员工民族节日假期和其他节日福利等。</span><br>
          <b>★员工关怀：</b><br>
          <span>包括新员工关怀和在职员工关怀。</span><br>
           <b>★生活平衡计划：</b><br>
          <span>为平衡员工工作和生活的关系，集团除为员工提供带薪休假外，还为员工提供与职业生涯相关的各种培训、以及国内旅游或国外旅游。</span>
         </div> 
        <div class="abtou-salary-p">
        
          <span>注：除此之外，集团还会根据战略需要适时增加其他福利项目。</span>
    </div> 
  </div>
    
    </div>
        
</div>

<!--*********************contanier 内容区 end *********************-->


<!--*********************footer 引入区*********************-->
<include file="Common/foot" />
<!--*********************footer 引入区 end*********************-->

</body>
</html>
