<include file="Common/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/web/oldhouse/css/styleLf.css" />
        <script type="text/javascript" src="__PUBLIC__/web/oldhouse/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/web/oldhouse/js/placeholder.min.js"></script>
        <script src="__PUBLIC__/web/oldhouse/js/scrollReveal.js"></script> 
        <script type="text/javascript">
                $(function(){
                    $('input, textarea').placeholder();
                         $(".lfZxxztCon ul li:nth-child(4n)").css({"margin-right":"0px"});
                    $(".lfZxwz ul.clearfix li:last-child").css({"margin-right":"0px"});
                    $(".lfZxzx ul.clearfix li:last-child").css({"margin-right":"0px"});
                });
        </script>
    <div class="lfMain">
        <div class="lfBbx"><a href="http://www.sc.cc/" target="_blank">实创装饰首页</a>  >  <a>老房装修 </a></div>
        <div class="lfInfoMs">
            <div class="lfInfoMsM">
                <h2>老房装修</h2>
                <p>导读：老房装修实际上是对过去已经装修过的住宅，进行翻修布置，包括陈旧的门窗、给排水、卫生设施、暖气、通风设备、厨具乃至房间格局的整体改动，因此老房装修在施工的过程中有很多需要注意的细节问题。老房装修首先要与设计师充分沟通，确定最终的装修效果图，然后再考虑详细的施工计划。此次小编给大家奉上老房装修的相关知识。</p>
            </div>
        </div>
        <div class="lfZxxgt">
            <div class="lfZxxgtTit">
                <h2>老房装修最新效果图</h2><a href="http://zhuangxiuxiaoguotu.sc.cc/" target="_blank">更多 >></a>
            </div>
            <div class="lfZxxztCon">
                <ul class="clearfix">
                <?php foreach ($cased as $k => $v): ?>
                    <li>
                        <a href="{$v.url}" target="_blank">
                            <img src="http://www.sc.cc{$v.IMAGE}" alt="{$v.SID|getstyletype}{$v.TYPEID|gethousetype}{$v.AREA}㎡装修效果图"/>
                            <div class="lfZxConTit">{$v.SID|getstyletype}{$v.TYPEID|gethousetype}{$v.AREA}㎡装修效果图</div>
                        </a>
                    </li>
                <?php endforeach ?>
                  
                </ul>
            </div>
        </div>
        <div class="lfZxxgt">
            <div class="lfZxxgtTit">
                <h2>老房装修文章推荐</h2>
            </div>
            <div class="lfZxwz">
                <ul class="clearfix">
                    <li>
                        <a href="http://gonglue.sc.cc/zxcl/" target="_blank">
                            <div class="lfZxWzImg">
                                <img src="__PUBLIC__/web/oldhouse/images/wztj1.jpg" />
                                <div class="lfZxWzTit"><span>01</span><i>老房装修主材选择</i></div>
                            </div>
                        </a>
                        <div class="lfZxWzCon">
                            <ul>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxcl/tl/6522.html" target="_blank">• 老房装修用什么涂料好？</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxcl/db/3284.html" target="_blank">• 老房地板改造必看攻略！</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxcl/1846.html" target="_blank">• 老房装修选购主材要注意的事情！</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxcl/cg/1767.html" target="_blank">• 选择厨柜的标准是什么？</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="lfZxWzCon">
                            <ul>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxsgzd/sdgz/1843.html" target="_blank">• 老房改造卧室电路怎么走？</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxsgzd/sdgz/1844.html" target="_blank">• 老房卫生间水电改造方案</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxsgzd/sdgz/1845.html" target="_blank">• 老房装修厨房水电改造注意事项</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxsgzd/sdgz/4236.html" target="_blank">• 家居水管改造常见方法</a>
                                </li>
                            </ul>
                        </div>
                        <a href="http://gonglue.sc.cc/zxsgzd/sdgz/" target="_blank">
                            <div class="lfZxWzImg">
                                <img src="__PUBLIC__/web/oldhouse/images/wztj2.jpg" />
                                <div class="lfZxWzTit"><span>02</span><i>老房装修水电改造</i></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://gonglue.sc.cc/zhuangxiuliucheng/sj/" target="_blank">
                            <div class="lfZxWzImg">
                                <img src="__PUBLIC__/web/oldhouse/images/wztj3.jpg" />
                                <div class="lfZxWzTit"><span>03</span><i>老房装修设计要点</i></div>
                            </div>
                        </a>
                        <div class="lfZxWzCon">
                            <ul>
                                <li>
                                    <a href="http://gonglue.sc.cc/kongjian/keting/791.html" target="_blank">• 老房客厅装修设计要点</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxzysx/lfgz/802.html" target="_blank">• 老房厨房改造装修经验</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/kongjian/weishengjian/801.html" target="_blank">• 老房卫生间装修设计要点</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/fengge/xiandaijianyue/3813.html" target="_blank">• 老房现代简约风格客厅装修设计</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="lfZxWzCon">
                            <ul>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxzysx/lfgz/1323.html" target="_blank">•  须知老房装修四大误区，避免引发纠纷</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/jubu/geduan/3511.html" target="_blank">• 老房改造的五个关键密码</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxzysx/lfgz/861.html" target="_blank">• 老房装修要注意啥？听小编一 一道来</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxzysx/lfgz/1840.html" target="_blank">• 老房装修最容易出问题的三大方面</a>
                                </li>
                            </ul>
                        </div>
                        <a href="http://gonglue.sc.cc/zxzysx/" target="_blank">
                            <div class="lfZxWzImg">
                                <img src="__PUBLIC__/web/oldhouse/images/wztj4.jpg" />
                                <div class="lfZxWzTit"><span>04</span><i>老房装修注意事项</i></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lfZxxgt">
            <div class="lfZxxgtTit">
                <h2>老房装修最新文章</h2><a href="http://gonglue.sc.cc/zxzysx/lfgz/" target="_blank">更多 >></a>  
            </div>
            <div class="lfZxzx">
                    <ul class="clearfix">
                    <?php foreach ($article as $k => $v): ?>
                        <li>
                            <a href="{$v.url}" target="_blank">
                                <img src="http://www.sc.cc{$v.DefaultPicUrl}" alt="{$v.Title|msubstr=0,22}"/>
                                <div class="lfZxzxCon">
                                    <h3>{$v.Title|msubstr=0,22}</h3>
                                    <p>{$v.Intro|msubstr=0,65}</p>
                                </div>
                            </a>
                        </li>
                    <?php endforeach ?>
                       
                    </ul>
                </div>
        </div>
        <div class="lfZxxgt">
            <div class="lfZxxgtTit">
                <h2>老房装修报价</h2>
            </div>
            <div class="lfZxbj">
            <?php foreach ($map_citys as $k => $v): ?>
                 <div class="lfZxbjBar clearfix">
                    <div class="lfZxbjL">{$v.AreaName}</div>

                    <div class="lfZxbjR">
                     <?php foreach ($v['area'] as $i => $r): ?>
                           <a href="http://{$r.baojia_url}" target="_blank">{$r.NAME}装修报价</a>
                    <?php endforeach ?>
                    </div>
                </div>
            <?php endforeach ?>
               
            </div>
        </div>
    </div>
</div>

<!--*********************footer 引入区*********************-->
<include file="Common/foot" />
<!--*********************footer 引入区 end*********************-->

</body>
</html>