<include file="Common/header" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/web/oldhouse/css/styleLf.css" />
        <script type="text/javascript" src="__PUBLIC__/web/oldhouse/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/web/oldhouse/js/placeholder.min.js"></script>
        <script src="js/scrollReveal.js"></script> 
        <script type="text/javascript">
                $(function(){
                    $('input, textarea').placeholder();
                         $(".lfZxxztCon ul li:nth-child(4n)").css({"margin-right":"0px"});
                    $(".lfZxwz ul.clearfix li:last-child").css({"margin-right":"0px"});
                    $(".lfZxzx ul.clearfix li:last-child").css({"margin-right":"0px"});
                });
        </script>

    <div class="lfMain">
        <div class="lfBbx"><a href="http://www.sc.cc" target="_blank">实创装饰首页</a>  >  软装设计</div>
        <div class="lfInfoMs lfInfoMss">
            <div class="lfInfoMsM">
                <h2>软装装修</h2>
                <p>导读：所谓软装，即指除了室内装潢中固定的、不能移动的装饰物如地板、吊顶、墙面以及门窗等之外，其它可以移动的、易于更换的饰物，如窗帘、沙发、靠垫、壁挂、地毯、床上用品、灯具以及装饰工艺品、居室植
物等，是对居室的二度陈设与布置。作为整体家居装饰中，最能灵活百变、体现品位个性的重要部分，软装已经越来越受到消费者的重视，在家居生活中起到美化、提升生活环境意象，丰富空间层次，赋予空间涵义的重
要作用。本次专题小编即为大家奉上软装相关知识以供参考！</p>
            </div>
        </div>
        <div class="lfZxxgt">
            <div class="lfZxxgtTit">
                <h2>软装最新效果图</h2><a href="http://zhuangxiuxiaoguotu.sc.cc/" target="_blank">更多 >></a>
            </div>
            <div class="lfZxxztCon">
                <ul class="clearfix">
                      <?php foreach ($tuce as $k => $v): ?>
                        <li>
                        <a href="{$v.url}" target="_blank">
                            <img src="http://www.sc.cc{$v.IMAGE}" alt="{$v.SID|getstyletype}{$v.TYPEID|gethousetype}{$v.AREA}㎡装修效果图" />
                            <div class="lfZxConTit">{$v.SID|getstyletype}{$v.TYPEID|gethousetype}{$v.AREA}㎡装修效果图</div>
                        </a>
                    </li>
                <?php endforeach ?>
                </ul>
            </div>
        </div>
        <div class="lfZxxgt">
            <div class="lfZxxgtTit">
                <h2>软装文章推荐</h2>
            </div>
            <div class="lfZxwz">
                <ul class="clearfix">
                    <li>
                        <a href="http://gonglue.sc.cc/jjps/ " target="_blank">
                            <div class="lfZxWzImg">
                                <img src="__PUBLIC__/web/oldhouse/images/zztj1.jpg" />
                                <div class="lfZxWzTit"><span>01</span><i>软装搭配技巧</i></div>
                            </div>
                        </a>
                        <div class="lfZxWzCon">
                            <ul>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/rz/3375.html " target="_blank">• 田园风软装配饰搭配小技巧</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/rz/6770.html " target="_blank">• 小户型软装搭配技巧</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/rz/3182.html" target="_blank">• 如何搭配你的布艺沙发花色？</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/rz/4091.html " target="_blank">• 新颖的春季软装印花搭配</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="lfZxWzCon">
                            <ul>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/rz/3240.html " target="_blank">• 7款纯色布艺沙发打造温馨客厅</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/rz/3678.html" target="_blank">• 客厅软装装饰画设计</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/rz/3341.html " target="_blank">• 客厅暖色软装设计</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxlczq/2973.html " target="_blank">• 你知道怎么选择窗帘么？</a>
                                </li>
                            </ul>
                        </div>
                        <a href="http://zhuangxiuxiaoguotu.sc.cc/keting/  " target="_blank">
                            <div class="lfZxWzImg">
                                <img src="__PUBLIC__/web/oldhouse/images/zztj2.jpg" />
                                <div class="lfZxWzTit"><span>02</span><i>客厅软装设计</i></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://zhuangxiuxiaoguotu.sc.cc/woshi/ " target="_blank">
                            <div class="lfZxWzImg">
                                <img src="__PUBLIC__/web/oldhouse/images/zztj3.jpg" />
                                <div class="lfZxWzTit"><span>03</span><i>卧室软装设计</i></div>
                            </div>
                        </a>
                        <div class="lfZxWzCon">
                            <ul>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/rz/1923.html " target="_blank">• 3种卧室软装设计风格</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/jjps/4951.html" target="_blank">• 卧室软装设计有风水宜忌</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/jjps/5021.html" target="_blank">• 如何打造出舒适雅致般的卧室？</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/kongjian/hunfang/1416.html" target="_blank">• 婚房卧室软装实用小技巧</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="lfZxWzCon">
                            <ul>
                                <li>
                                    <a href="http://gonglue.sc.cc/jjps/5755.html" target="_blank">•  不会软装搭配是怎样的一种体验？</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/rz/3204.html" target="_blank">• 处女座教你如何清洗布艺沙发</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/rz/3842.html  " target="_blank">• 宜家风客厅摆件小心机</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/rz/6841.html " target="_blank">• 软装中的小误区你都知道吗？</a>
                                </li>
                            </ul>
                        </div>
                        <a href="http://gonglue.sc.cc/zxzysx/ " target="_blank">
                            <div class="lfZxWzImg">
                                <img src="__PUBLIC__/web/oldhouse/images/zztj4.jpg" />
                                <div class="lfZxWzTit"><span>04</span><i>软装注意事项</i></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lfZxxgt">
            <div class="lfZxxgtTit">
                <h2>软装最新文章</h2><a href="http://gonglue.sc.cc/zhuangxiuliucheng/rz/" target="_blank">更多 >></a>  
            </div>
            <div class="lfZxzx">
                    <ul class="clearfix">
                         <?php foreach ($rZaritcle as $k => $v): ?>
                        <li>
                            <a href="{$v.url}" target="_blank">
                                <img src="http://www.sc.cc{$v.DefaultPicUrl}" alt="{$v.Title|msubstr=0,22}"/>
                                <div class="lfZxzxCon">
                                    <h3>{$v.Title|msubstr=0,22}</h3>
                                    <p>{$v.Intro|msubstr=0,65}</p>
                                </div>
                            </a>
                        </li>
                    <?php endforeach ?>
                    </ul>
                </div>
        </div>
        <div class="lfZxxgt">
            <div class="lfZxxgtTit">
                <h2>实创装修报价</h2>
            </div>
            <div class="lfZxbj">
        <?php foreach ($map_citys as $k => $v): ?>
                 <div class="lfZxbjBar clearfix">
                    <div class="lfZxbjL">{$v.AreaName}</div>
                    <div class="lfZxbjR">
                     <?php foreach ($v['area'] as $i => $r): ?>
                           <a href="http://{$r.baojia_url}" target="_blank">{$r.NAME}装修报价</a>
                    <?php endforeach ?>
                    </div>
                </div>
            <?php endforeach ?>
            </div>
        </div>
    </div>
<!--*********************footer 引入区*********************-->
<include file="Common/foot" />
<!--*********************footer 引入区 end*********************-->
</body>
</html>