<include file="Common/header" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/web/anli/css/styleLf.css" />
        <script type="text/javascript" src="__PUBLIC__/web/anli/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/web/anli/js/placeholder.min.js"></script>
        <script src="__PUBLIC__/web/anli/js/scrollReveal.js"></script> 
        <script type="text/javascript">
                $(function(){
                    $('input, textarea').placeholder();
                });
        </script> 
    <body id="xhx">
        <div class="lfBbx"><a href="http://www.sc.cc/" target="_blank">实创装饰首页</a>  >  <a >小户型装修实例</a></div>
        <div class="xhxBanner"><!-- <img src="__PUBLIC__/web/anli/images/banner.jpg"> --></div>
        <div class="xhxDy">
            <div class="xhxDyL">导语</div>
            <div class="xhxDyR">房价如此高不可攀，对于许多年轻人来说，第一套住房面积往往都比较小。小面积的住房也随之带来许多令人困扰的问题，比如视觉上有憋闷的感觉，收纳空间少，很多东西没有地方放等等。但是合理的室内设计，可以让小户型变得更为精致雅观。本次专题小编为大家奉上超小户型、30平米小户型、40平米小户型、50平米小户型、60平米小户型、70平米小户型、80平米小户型、复式小户型装修实例，供大家参考！</div>
        </div>
        <div class="xhxPart1">
            <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce/20pm/" target="_blank"><div class="xhxPart1Tit"><img src="__PUBLIC__/web/anli/images/tit01.png" /></div></a>
            <div class="xhxPart1M clearfix">
                <div class="xhxPart1L">
                    <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce-22759.html" target="_blank"><img src="__PUBLIC__/web/anli/images/img1.jpg"  class="imgBig" /></a>
                </div>
                <div class="xhxPart1C">
                    <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce-22759.html" target="_blank"><div class="xhxPart1CTit"><img src="__PUBLIC__/web/anli/images/tit02.png" /></div></a>
                    <div class="xhxPartInfo">改造前25㎡的空间仅容纳一卧房和入卫浴，设计师在不加置夹层的前提下，在小空间中划出一房一厅的格局规划，不仅划出了煮食空间的功能，更将单间的卫浴改为干湿分离，主卧也有了独立隐蔽的睡眠空间，更有了完整独立的更衣区。</div>
                   <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce-22759.html" target="_blank"><div class="xhxPart1B"><img src="__PUBLIC__/web/anli/images/img3.jpg" /></div></a>
                </div>
                <div class="xhxPart1R">
                    <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce-22759.html" target="_blank"><img src="__PUBLIC__/web/anli/images/img2.jpg" /></a>
                    <div class="xhxPartInfo">格局调整的一大重点，便是提高卧室区的私密性与安定感，移至空间角落的床铺，不再被入门时一览无遗。</div>
                </div>
            </div>
        </div>
       <div class="xhxPart2 clearfix">
           <div class="xhxPart1 clearfix">
                 <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce/loft-90pingmi/" target="_blank"><div class="xhxPart1Tit"><img src="__PUBLIC__/web/anli/images/tit03.png" /></div></a>
                 <div class="xhxPart1R">
                    <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce-24125.html" target="_blank"><img src="__PUBLIC__/web/anli/images/img4.jpg" /></a>
                    <div class="xhxPartInfo">这样一个空间，可以摒弃种种的制约与束缚，可以随心所欲的享受生活，可以完全的释放自我！</div>
                </div>
                <div class="xhxPart1C">
                    <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce-24125.html" target="_blank"><div class="xhxPart1CTit"><img src="__PUBLIC__/web/anli/images/tit04.png" /></div></a>
                    <div class="xhxPartInfo">业主长期在欧洲出差，喜欢自然的的感觉，喜欢在清晨喝一杯浓香的咖啡，喜欢一切自然舒适的生活，有着为自己的未来奋斗的动力。家里的男主人拥有理性严谨的性格，对于工作,有着理想和奋斗的目标。</div>
                   <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce-24125.html" target="_blank"><div class="xhxPart1B"><img src="__PUBLIC__/web/anli/images/img5.jpg" /></div></a>
                </div>
                <div class="xhxPart1L">
                    <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce-24125.html" target="_blank"><img src="__PUBLIC__/web/anli/images/img6.jpg" /></a>
                </div>
           </div>
       </div>

       <div class="xhxPart3 clearfix">
           <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce/30pm/" target="_blank"><div class="xhxPart3Tit"><img src="__PUBLIC__/web/anli/images/tit5.jpg" /></div></a>
           <div class="xhxPart3Con">
                <a href="{$thirtypm.0.url}" target="_blank"><div class="xhxTits01">{$thirtypm.0.AREA}㎡{$thirtypm.0.TYPEID|gethousetype}{$thirtypm.0.SID|getstyletype}装修实例</div></a>
                <a href="{$thirtypm.0.url}" target="_blank"><div class="xhxSl xhxSl01">
                    <img src="http://www.sc.cc{$thirtypm.0.IMAGE}">
                    <span class="xhxAl01">1</span>
                </div></a>


                <a href="{$thirtypm.1.url}" target="_blank"><div class="xhxSl xhxSl02">
                    <img src="http://www.sc.cc{$thirtypm.1.IMAGE}">
                    <span class="xhxAl02">2</span>
                </div></a>
                <a href="{$thirtypm.1.url}" target="_blank"><div class="xhxTits01 xhxTits02">{$thirtypm.1.AREA}㎡{$thirtypm.1.TYPEID|gethousetype}{$thirtypm.1SID|getstyletype}装修实例</div></a>


                <a href="{$thirtypm.2.url}" target="_blank"><div class="xhxTits01 xhxTits03">{$thirtypm.2.AREA}㎡{$thirtypm.2.TYPEID|gethousetype}{$thirtypm.2.SID|getstyletype}装修实例</div></a>
                <a href="{$thirtypm.2.url}" target="_blank"><div class="xhxSl xhxSl03">
                    <img src="http://www.sc.cc{$thirtypm.2.IMAGE}">
                    <span class="xhxAl03">3</span>
                </div></a>
           </div>
       </div>

       <div class="xhxPart3 xhxPart4 clearfix">
           <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce/40pm/" target="_blank"><div class="xhxPart3Tit"><img src="__PUBLIC__/web/anli/images/tit6.jpg" /></div></a>
           <div class="xhxPart3Con xhxPart4Con" >

               <a href="{$fortypm.0.url}" target="_blank"> <div class="xhxTits01">{$fortypm.0.AREA}㎡{$fortypm.0.TYPEID|gethousetype}{$fortypm.0.SID|getstyletype}装修实例</div></a>
                <a href="{$fortypm.0.url}" target="_blank"><div class="xhxSl xhxSl01">
                    <img src="http://www.sc.cc{$fortypm.0.IMAGE}">
                    <span class="xhxAl01">1</span>
                </div></a>


                <a href="{$fortypm.1.url}" target="_blank"><div class="xhxSl xhxSl02">
                    <img src="http://www.sc.cc{$fortypm.1.IMAGE}">
                    <span class="xhxAl02">2</span>
                </div></a>
                <a href="{$fortypm.1.url}" target="_blank"><div class="xhxTits01 xhxTits02">{$fortypm.1.AREA}㎡{$fortypm.1.TYPEID|gethousetype}{$fortypm.1.SID|getstyletype}装修实例</div></a>


                <a href="{$fortypm.1.url}" target="_blank"><div class="xhxTits01 xhxTits03">{$fortypm.2.AREA}㎡{$fortypm.2.TYPEID|gethousetype}{$fortypm.2.SID|getstyletype}装修实例</div></a>
                <a href="{$fortypm.1.url}" target="_blank"><div class="xhxSl xhxSl03">
                    <img src="http://www.sc.cc{$fortypm.2.IMAGE}">
                    <span class="xhxAl03">3</span>
                </div></a>
           </div>
       </div>


       <div class="xhxPart3 xhxPart5 clearfix">
           <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce/50pm/ " target="_blank"><div class="xhxPart3Tit"><img src="__PUBLIC__/web/anli/images/tit7.jpg" /></div></a>
           <div class="xhxPart3Con xhxPart5Con">

                <a href="{$fiftypm.0.url}" target="_blank"><div class="xhxTits01">{$fiftypm.0.AREA}㎡{$fiftypm.0.TYPEID|gethousetype}{$fiftypm.0.SID|getstyletype}装修实例</div></a>
                <a href="{$fiftypm.0.url}" target="_blank"><div class="xhxSl xhxSl01">
                    <img src="http://www.sc.cc{$fiftypm.0.IMAGE}">
                    <span class="xhxAl01">1</span>
                </div></a>

                <a href="{$fiftypm.1.url}" target="_blank"><div class="xhxSl xhxSl02">
                    <img src="http://www.sc.cc{$fiftypm.1.IMAGE}">
                    <span class="xhxAl02">2</span>
                </div></a>
                <a href="{$fiftypm.1.url}" target="_blank"><div class="xhxTits01 xhxTits02">{$fiftypm.1.AREA}㎡{$fiftypm.1.TYPEID|gethousetype}{$fiftypm.1.SID|getstyletype}装修实例</div></a>


                <a href="{$fiftypm.2.url}" target="_blank"><div class="xhxTits01 xhxTits03">{$sixtypm.2.AREA}㎡{$fiftypm.2.TYPEID|gethousetype}{$fiftypm.2.SID|getstyletype}装修实例</div></a>
                <a href="{$fiftypm.2.url}" target="_blank"><div class="xhxSl xhxSl03">
                    <img src="http://www.sc.cc{$fiftypm.2.IMAGE}">
                    <span class="xhxAl03">3</span>
                </div></a>
           </div>
       </div>

      <div class="xhxPart3 xhxPart6 clearfix">
           <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce/60pm/" target="_blank"><div class="xhxPart3Tit"><img src="__PUBLIC__/web/anli/images/tit8.jpg" /></div></a>
           <div class="xhxPart3Con xhxPart4Con xhxPart6Con" >

                <a href="{$sixtypm.0.url}" target="_blank"><div class="xhxTits01">{$sixtypm.0.AREA}㎡{$sixtypm.0.TYPEID|gethousetype}{$sixtypm.0.SID|getstyletype}装修实例</div></a>
                <a href="{$sixtypm.0.url}" target="_blank"><div class="xhxSl xhxSl01">
                    <img src="http://www.sc.cc{$seventypm.0.IMAGE}">
                    <span class="xhxAl01">1</span>
                </div></a>

                <a href="{$sixtypm.1.url}" target="_blank"><div class="xhxSl xhxSl02">
                    <img src="http://www.sc.cc{$sixtypm.1.IMAGE}">
                    <span class="xhxAl02">2</span>
                </div></a>
                <a href="{$sixtypm.1.url}" target="_blank"><div class="xhxTits01 xhxTits02">{$sixtypm.1.AREA}㎡{$sixtypm.1.TYPEID|gethousetype}{$sixtypm.1.SID|getstyletype}装修实例</div></a>


                <a href="{$sixtypm.2.url}" target="_blank"><div class="xhxTits01 xhxTits03">{$sixtypm.2.AREA}㎡{$sixtypm.2.TYPEID|gethousetype}{$sixtypm.2.SID|getstyletype}装修实例</div></a>
                <a href="{$sixtypm.2.url}" target="_blank"><div class="xhxSl xhxSl03">
                    <img src="http://www.sc.cc{$sixtypm.2.IMAGE}">
                    <span class="xhxAl03">3</span>
                </div></a>
           </div>
       </div>
       

       <div class="xhxPart3 xhxPart5 clearfix">
           <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce/70pm/" target="_blank"><div class="xhxPart3Tit"><img src="__PUBLIC__/web/anli/images/tit9.jpg" /></div></a>
           <div class="xhxPart3Con xhxPart7Con">
                <a href="{$seventypm.0.url}" target="_blank"><div class="xhxTits01">{$seventypm.0.AREA}㎡{$seventypm.0.TYPEID|gethousetype}{$seventypm.0.SID|getstyletype}装修实例</div></a>
                <a href="{$seventypm.0.url}" target="_blank"><div class="xhxSl xhxSl01">
                    <img src="http://www.sc.cc{$seventypm.0.IMAGE}">
                    <span class="xhxAl01">1</span>
                </div></a>

                <a href="{$seventypm.1.url}" target="_blank"><div class="xhxSl xhxSl02">
                    <img src="http://www.sc.cc{$seventypm.1.IMAGE}">
                    <span class="xhxAl02">2</span>
                </div></a>
                <a href="{$seventypm.1.url}" target="_blank"><div class="xhxTits01 xhxTits02">{$seventypm.1.AREA}㎡{$seventypm.1.TYPEID|gethousetype}{$seventypm.1.SID|getstyletype}装修实例</div></a>

                <a href="{$seventypm.2.url}" target="_blank"><div class="xhxTits01 xhxTits03">{$seventypm.2.AREA}㎡{$seventypm.2.TYPEID|gethousetype}{$seventypm.2.SID|getstyletype}装修实例</div></a>
                <a href="{$seventypm.2.url}" target="_blank"><div class="xhxSl xhxSl03">
                    <img src="http://www.sc.cc{$seventypm.2.IMAGE}">
                    <span class="xhxAl03">3</span>
                </div></a>
           </div>
       </div>


        <div class="xhxPart3 xhxPart6 clearfix">
           <a href="http://zhuangxiuxiaoguotu.sc.cc/tuce/80pm/" target="_blank"><div class="xhxPart3Tit"><img src="__PUBLIC__/web/anli/images/tit10.jpg" /></div></a>
           <div class="xhxPart3Con xhxPart4Con xhxPart8Con" >
                <a href="{$eightypm.0.url}" target="_blank"><div class="xhxTits01">{$eightypm.0.AREA}㎡{$eightypm.0.TYPEID|gethousetype}{$eightypm.0.SID|getstyletype}装修实例</div></a>

                <a href="{$eightypm.0.url}" target="_blank"><div class="xhxSl xhxSl01">
                    <img src="http://www.sc.cc{$eightypm.0.IMAGE}">
                    <span class="xhxAl01">1</span>
                </div></a>

                <a href="{$eightypm.1.url}" target="_blank"><div class="xhxSl xhxSl02">
                    <img src="http://www.sc.cc{$eightypm.1.IMAGE}">
                    <span class="xhxAl02">2</span>
                </div></a>

                <a href="{$eightypm.1.url}" target="_blank"><div class="xhxTits01 xhxTits02">{$eightypm.1.AREA}㎡{$eightypm.1.TYPEID|gethousetype}{$eightypm.1.SID|getstyletype}装修实例</div></a>
                <a href="{$eightypm.2.url}" target="_blank"><div class="xhxTits01 xhxTits03">{$eightypm.2.AREA}㎡{$eightypm.2.TYPEID|gethousetype}{$eightypm.2.SID|getstyletype}装修实例</div></a>

                <a href="{$eightypm.2.url}" target="_blank"><div class="xhxSl xhxSl03">
                    <img src="http://www.sc.cc{$eightypm.1.IMAGE}">
                    <span class="xhxAl03">3</span>
                </div></a>
           </div>
       </div>

      <div class="xhxZxbj">
            <p class="jsq-p">实创装修报价</p>
            <div class="jsq-con">
                <div class="jsq-box jsq-box3 left">
                  <p class="left jsq-box3-p"><b>东北</b><br />
                  <?php foreach ($map_citys[0]['area'] as $k => $v): ?>
                       <span class="left"><a href="{$v.baojia_url}" target="_blank" >{$v.NAME}装修报价</a></span>
                  <?php endforeach ?>
                 </p>
                </div>
                <div class="jsq-box jsq-box3 left">
                  <p class="left jsq-box3-p"><b>华北</b><br />
                      <?php foreach ($map_citys[3]['area'] as $k => $v): ?>
                       <span class="left"><a href="{$v.baojia_url}" target="_blank" >{$v.NAME}装修报价</a></span>
                  <?php endforeach ?>
                 </p>
                </div>
                <div class="jsq-box jsq-box3 jsq-box1 left">
                  <p class="left jsq-box3-p"><b>华东</b><br />
                  <?php foreach ($map_citys[2]['area'] as $k => $v): ?>
                       <span class="left"><a href="{$v.baojia_url}" target="_blank" >{$v.NAME}装修报价</a></span>
                  <?php endforeach ?>
                 </p>
                </div>
                <div class="jsq-box jsq-box3 jsq-box5 left">
                  <p class="left jsq-box3-p"><b>中南</b><br />
                 <?php foreach ($map_citys[1]['area'] as $k => $v): ?>
                       <span class="left"><a href="{$v.baojia_url}" target="_blank" >{$v.NAME}装修报价</a></span>
                  <?php endforeach ?>
                 </p>
                </div>
                <div class="jsq-box jsq-box3 jsq-box5 left">
                  <p class="left jsq-box3-p"><b>西南</b><br />
                  <?php foreach ($map_citys[5]['area'] as $k => $v): ?>
                       <span class="left"><a href="{$v.baojia_url}" target="_blank" >{$v.NAME}装修报价</a></span>
                  <?php endforeach ?>
                 </p>
                </div>
                <div class="jsq-box jsq-box3 jsq-box5 jsq-box1 left">
                  <p class="left jsq-box3-p"><b>西北</b><br />
                   <?php foreach ($map_citys[4]['area'] as $k => $v): ?>
                       <span class="left"><a href="{$v.baojia_url}" target="_blank" >{$v.NAME}装修报价</a></span>
                  <?php endforeach ?>
                 </p>
                </div>
            </div>
       </div>

       <!--*********************footer 引入区*********************-->
<include file="Common/foot" />
<!--*********************footer 引入区 end*********************-->
    </body>
</html>