<include file="Common/header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/web/oldhouse/css/styleLf.css" />
        <script type="text/javascript" src="__PUBLIC__/web/oldhouse/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/web/oldhouse/js/placeholder.min.js"></script>
        <script src="__PUBLIC__/web/oldhouse/js/scrollReveal.js"></script> 
        <script type="text/javascript">
                $(function(){
                    $('input, textarea').placeholder();
                         $(".lfZxxztCon ul li:nth-child(4n)").css({"margin-right":"0px"});
                    $(".lfZxwz ul.clearfix li:last-child").css({"margin-right":"0px"});
                    $(".lfZxzx ul.clearfix li:last-child").css({"margin-right":"0px"});
                });
        </script>
    <div class="lfMain">
        <div class="lfBbx"><a href="http://www.sc.cc/" target="_blank">实创装饰首页</a>  >  <a>新房装修 </a></div>
        <div class="lfInfoMs">
            <div class="lfInfoMsM">
                <h2>新房装修</h2>
                <p>导读：新房装修，首要考虑的就是选择哪家装修公司，在签约装修公司之前，一定要将装修公司的资质、实力等考察清楚。此外，在与装修公司接洽的时候，一定要看清楚装修公司的诚信度，谈好价格，尤其是在签订合同的时候，任何商量好的事情，都需要白纸黑字落下来，保证后期施工不出什么问题。今天小编就为大家准备了菜鸟级的新房装修攻略，让装修小白有个最基本的了解！</p>
            </div>
        </div>
        <div class="lfZxxgt">
            <div class="lfZxxgtTit">
                <h2>新房装修最新效果图</h2><a href="http://zhuangxiuxiaoguotu.sc.cc/" target="_blank">更多 >></a>
            </div>
            <div class="lfZxxztCon">
                <ul class="clearfix">
                    
                    <?php foreach ($cased as $k => $v): ?>
                        <li>
                        <a href="{$v.url}" target="_blank">
                            <img src="http://www.sc.cc{$v.IMAGE}" alt="{$v.SID|getstyletype}{$v.TYPEID|gethousetype}{$v.AREA}㎡装修效果图" />
                            <div class="lfZxConTit">{$v.SID|getstyletype}{$v.TYPEID|gethousetype}{$v.AREA}㎡装修效果图</div>
                        </a>
                    </li>
                <?php endforeach ?>
                </ul>
            </div>
        </div>
        <div class="lfZxxgt">
            <div class="lfZxxgtTit">
                <h2>新房装修文章推荐</h2>
            </div>
            <div class="lfZxwz">
                <ul class="clearfix">
                    <li>
                        <a href="http://gonglue.sc.cc/zhuangxiuliucheng/ " target="_blank">
                            <div class="lfZxWzImg">
                                <img src="__PUBLIC__/web/oldhouse/image/wztj1.jpg" />
                                <div class="lfZxWzTit"><span>01</span><i>新房装修流程</i></div>
                            </div>
                        </a>
                        <div class="lfZxWzCon">
                            <ul>
                                <li>
                                    <a href="http://gonglue.sc.cc/kongjian/weishengjian/2527.html" target="_blank">• 新房装修步骤！菜鸟必看！</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/bangzhuzhongxin/bz-zhuangxiuqian/2518.html" target="_blank">• 怎样找到靠谱的新房装修公司？</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/yf/2511.html" target="_blank">• 新房装修后怎么验收？</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/ys/5186.html" target="_blank">• 新房装修流程中最需关注的几个环节！</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="lfZxWzCon">
                            <ul>
                                <li>
                                    <a href="http://gonglue.sc.cc/zhuangxiuliucheng/sj/2481.html" target="_blank">• 如何制定新房装修设计方案？</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/jiajufengshui/jiazhuangfengshui/7085.html" target="_blank">• 新房装修设计的一些宜忌知识</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/huxingmianji/xiaohuxing/2934.html" target="_blank">• 小户型新房装修视觉设计要点</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxzysx/zxbj/1539.html " target="_blank">• 新房装修如何省钱？控制预算即优化设计</a>
                                </li>
                            </ul>
                        </div>
                        <a href="http://gonglue.sc.cc/zhuangxiuliucheng/sj/" target="_blank">
                            <div class="lfZxWzImg">
                                <img src="__PUBLIC__/web/oldhouse/image/wztj2.jpg" />
                                <div class="lfZxWzTit"><span>02</span><i>新房装修设计要点</i></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="http://gonglue.sc.cc/jiajufengshui/ " target="_blank">
                            <div class="lfZxWzImg">
                                <img src="__PUBLIC__/web/oldhouse/image/wztj3.jpg" />
                                <div class="lfZxWzTit"><span>03</span><i>新房装修风水禁忌</i></div>
                            </div>
                        </a>
                        <div class="lfZxWzCon">
                            <ul>
                                <li>
                                    <a href="http://gonglue.sc.cc/jiajufengshui/jiazhuangfengshui/7224.html" target="_blank">• 新房装修风水有哪些禁忌？</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/jiajufengshui/jiazhuangfengshui/7175.html" target="_blank">• 新房装修风水注意事项</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/jiajufengshui/woshifengshui/9138.html" target="_blank">• 卧室风水：警惕镜子扰神</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/jiajufengshui/ketingfengshui/8866.html " target="_blank">• 怎样打造客厅旺财位？</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="lfZxWzCon">
                            <ul>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxzysx/zxjy/9486.html" target="_blank">•  装修签合同注意事项</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxzysx/zxjy/9548.html" target="_blank">• 毛坯新房装修要注意什么？</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxzysx/2474.html" target="_blank">• 老新房装修完入住前需要注意哪些方面？</a>
                                </li>
                                <li>
                                    <a href="http://gonglue.sc.cc/zxzysx/zxjy/9337.html " target="_blank">• 新房装修3大注意事项为完美装修奠定基础</a>
                                </li>
                            </ul>
                        </div>
                        <a href="http://gonglue.sc.cc/zxzysx/" target="_blank">
                            <div class="lfZxWzImg">
                                <img src="__PUBLIC__/web/oldhouse/image/wztj4.jpg" />
                                <div class="lfZxWzTit"><span>04</span><i>新房装修注意事项</i></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lfZxxgt">
            <div class="lfZxxgtTit">
                <h2>新房装修最新文章</h2><a href="http://gonglue.sc.cc/search/keyword=新房装修" target="_blank">更多 >></a>  
            </div>
            <div class="lfZxzx">
                    <ul class="clearfix">
                      <?php foreach ($newarticle as $k => $v): ?>
                        <li>
                            <a href="{$v.url}" target="_blank">
                                <img src="http://www.sc.cc{$v.DefaultPicUrl}" alt="{$v.Title|msubstr=0,22}"/>
                                <div class="lfZxzxCon">
                                    <h3>{$v.Title|msubstr=0,22}</h3>
                                    <p>{$v.Intro|msubstr=0,65}</p>
                                </div>
                            </a>
                        </li>
                    <?php endforeach ?>
                    </ul>
                </div>
        </div>
        <div class="lfZxxgt">
            <div class="lfZxxgtTit">
                <h2>新房装修报价</h2>
            </div>
            <div class="lfZxbj">
                <div class="lfZxbjBar clearfix">
                  <?php foreach ($map_citys as $k => $v): ?>
                 <div class="lfZxbjBar clearfix">
                    <div class="lfZxbjL">{$v.AreaName}</div>
                    <div class="lfZxbjR">
                     <?php foreach ($v['area'] as $i => $r): ?>
                           <a href="http://{$r.baojia_url}" target="_blank">{$r.NAME}装修报价</a>
                    <?php endforeach ?>
                    </div>
                </div>
            <?php endforeach ?>
            </div>
        </div>
    </div>
    </div>


<!--*********************footer 引入区*********************-->
<include file="Common/foot" />
<!--*********************footer 引入区 end*********************-->
</body>
</html>