<script type="text/javascript">
function getVal(){
	$.get("__URL__/gethdlist",{cid:$("#cid").val()},function(json){
		// alert(json);
		var obj = eval("("+json+")");
		var pcid = $("#pcid");
		var mid = $("#mid");
		$("option",pcid).remove(); 
		$("option",mid).remove();
		$.each(obj.pc,function(i,item){
			var option = "<option value='"+item['ID']+"'>"+item['Title']+"-"+item['CityName']+"</option>";
			pcid.append(option);
		});
		$.each(obj.m,function(i,item){
			var option = "<option value='"+item['ID']+"'>"+item['Title']+"-"+item['CityName']+"</option>";
			mid.append(option);
		});
	});
} 
$(function(){
	$("#cid").change(function(){
		getVal();
	}); 
});
</script>
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listscj/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,navTabAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="{$vo.id}"/>
		<div class="pageFormContent nowrap" layoutH="60" style="overflow-x:hidden !important;">
			<dl>
				<dt>名称：</dt>
				<dd><input type="text" class="required"  style="width:100%" name="title" value="{$vo.title}"/></dd>
			</dl>
			<dl>
				<dt>城市：</dt>
				<dd><select name="cid" class="combox required" id="cid">
					<volist name="city" id="vos">
						<option value="{$vos['ID']}" <if condition="$vo['cid'] eq $vos['ID']">selected</if> >{$vos['NAME']}</option>
					</volist>
 				</select></dd>
			</dl>
			<dl>
				<dt>活动(pc)：</dt>
				<dd>
					<select name="hdid"  id="pcid">
					<option value="0">请选择</option>
					<volist name="hd" id="hdvo">
					<option value="{$hdvo.ID}" <eq name="vo.hdid" value="$hdvo.ID">selected</eq>>{$hdvo.Title}-{$hdvo.CityName}</option>
					</volist>
 					</select>
 				</dd>
			</dl>
			<dl>
				<dt>活动(m站)：</dt>
				<dd><select name="mhdid" id="mid">
					<option value="0">请选择</option>
					<volist name="hdm" id="hdmvo">
					<option value="{$hdmvo.ID}" <eq name="vo.mhdid" value="$hdmvo.ID">selected</eq>>{$hdmvo.Title}-{$hdmvo.CityName}</option>
					</volist>
 				</select></dd>
			</dl>

			<dl>
				<dt>开始时间：</dt>
				<dd><input type="text"  class="required date" dateFmt="yyyy-MM-dd HH:mm:ss"   value="{$vo.sdate}" name="sdate"/></dd>
			</dl>
			<dl>
				<dt>结束时间：</dt>
				<dd><input type="text"  class="required date" dateFmt="yyyy-MM-dd HH:mm:ss"  value="{$vo.edate}" name="edate"/></dd>
			</dl>
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

